.node-type-session, .node-type-schedule-item, .node-type-bof {
  .l-content {
    h1 {
      margin: 0;
    }
    .l-main-wrapper {
      padding: 2em 0;
    }
    .content {
      background-color: lighten($lt-gray,3%);
      border: 2px solid $gray;
      @include border-radius(4px);
      float: none;
      margin: auto;
      margin-top: 5em;
      padding: 0.5em;
      @include breakpoint($medium) {
        padding: 2em;
      }
      .page-title {
        padding-left: 0;
      }
      width: 94%;
      @include breakpoint($large) {
        max-width: $large;
      }
    }
    .pane-node-field-speakers {
      color: $dk-green;
    }
    .hydra {
      .top-right-content, .bottom-right-content {
        .panel-pane {
          border: 2px solid $gray;
          padding: 0.75em;
          margin-bottom: 1em;
          overflow: auto;
        }
        .pane-title {
          background-color: $dk-blue;
          color: $lt-gray;
          font-size: 1.5em;
          padding: 0.5em 0.75em;
          margin-bottom: 0.75em;
        }
      }
    }
  }
}
