.page-node-sessions-proposed, .page-node-sessions-accepted {
  .l-content .preface {
    padding: 4.25em 0px 4em;
    text-align: center;
    .button-link {
      margin-top: 1em;
    }
    .panel-pane {
      clear: both;
      padding: 0;
    }
    .view-display-id-track_session_filter {
      @extend %constrained-width;
      ul {
        padding-left: 0;
      }
      li.views-row {
        float: left;
        list-style-type: none;
        list-style-image: none;
        margin: 0 1% 1% 0;
        width: 100%;
        a {
          font-size: 1.25em;
          line-height: 1;
          text-align: center;
        }
      }
    }
  }
  .page-title {
    display: none;
  }
  .views-exposed-form {
    max-width: 520px;
    margin: auto;
    text-align: center;
    select, input {
      width: 100%;
    }
    .views-exposed-widget {
      width: 48%;
    }
  }
  .view-display-id-track_session_summary {
    padding-top: 4em;
    > .view-content {
      margin: auto;
      @extend %constrained-width;
      > .views-row {
        margin-bottom: 4.5em;
        padding: 2em;
        .view-id-cod_session_sessions {
          .views-row {
            border: 2px solid $gray;
            float: left;
            margin: 0 0 1% 1%;
            padding: 1em;
            text-align: center;
            width: 100%;
            h3 {
              color: $dk-blue;
              a {
                color: $dk-blue;
              }
            }
          }
        }
      }
    }
    h2 {
      color: $dk-blue;
      margin-top: 0.5em;
      text-align: center;
      a {
        color: $dk-blue;
      }
    }
  }
  .view-footer {
    clear: both;
    text-align: center;
    padding-top: 1em;
    a {
      @extend .button-link;
    }
  }
}

.view-display-id-panel_sessions_by_track {
  margin: auto;
  @extend %constrained-width;
  > .view-content {
      margin-bottom: 4.5em;
      padding: 2em;
      @include clearfix;
    .views-row {
      float: left;
      margin: 1em 0 1% 1%;
      padding: 1em;
      text-align: center;
      width: 100%;
      @include breakpoint($mid-small $medium) {
        width: 49%;
        &:nth-of-type(2n+1) {
          clear: left;
          margin-left: 0;
        }
      }
      @include breakpoint($medium $large) {
        width: 32%;
        &:nth-of-type(3n+1) {
          clear: left;
          margin-left: 0;
        }
      }
      @include breakpoint($large) {
        width: 24%;
        &:nth-of-type(4n+1) {
          clear: left;
          margin-left: 0;
        }
      }
      h3 {
        color: $dk-blue;
        a {
          color: $dk-blue;
        }
      }
    }
  }
}
