@include breakpoint(0 $medium) {
  .menu-block {
    position: relative;
    margin: 0 auto;
    padding: pem(24) pem(20);
    max-width: pem(960);
  }

  .close-btn {
    display: block;
    width: pem(42);
    height: pem(36);
    padding: 0;
    border: 0;
    outline: none;
    background: url("../images/off-canvas/close-btn.svg") left center no-repeat;
    background-size: pem(30) pem(30);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(1);


    .no-svg & {
      background-image: url("../images/off-canvas/close-btn.png");
    }

    &:focus,
    &:hover {
      @include opacity(1);
    }
  }

  .nav-btn, .user-btn {
    display: block;
    width: pem(42);
    height: pem(32);
    padding: 0;
    border: 0;
    outline: none;
    background: url("../images/off-canvas/nav-icon.svg") left center no-repeat;
    background-size: pem(30) pem(24);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    z-index: 10;
    @include opacity(0.7);
 

    .no-svg & {
      background-image: url("../images/off-canvas/nav-icon.png");
    }

    &:hover,
    &:focus {
      @include opacity(1);
    }
  }

  .user-btn {
    background: url("../images/off-canvas/user-icon.svg") left center no-repeat;
    .no-svg & {
      background: url("../off-canvas/images/user-icon.png") left center no-repeat;
    }
  }

  .l-page-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .l-page {
    position: relative;
    width: 100%;
  }

  #block-system-main-menu, #block-system-user-menu {
    z-index: 8;
    position: relative;
    overflow: hidden;
    width: 100%;

    .close-btn {
      display: none;
    }

    .block__title {
      @include visuallyhidden;
    }

    .menu-block {
      z-index: 2;
      position: relative;
      padding: pem(12) pem(20);
    }

    ul {
      @include clearfix;
      display: block;
      margin: 0;
    }

    li {
      display: block;

      a:link, a:visited {
        display: block;
        font-size: pem(14);
        line-height: pem(18, 14);
        font-weight: bold;
        outline: none;
        &:hover {
        }
      }
    }
  }

  // header[role="banner"] {
  #top {
    z-index: 100;
    position: relative;

    .block__title {
      margin: 0;
      font-size: pem(30);
      line-height: pem(36, 30);
      text-align: center;
      white-space: nowrap;
    }

    .nav-btn {
      position: absolute;
      top: 0.2em;
      left: 1em;
    }

    .user-btn {
      position: absolute;
      top: 0.2em;
      right: 1em;
    }
  }

  $nav-off-canvas-width: 70%;

  #block-system-main-menu, #block-system-user-menu {
    font-family: $font-body;
    position: absolute;
    padding-top: 2.7em;
    top: 0;
    left: 0;
    z-index: 200;

    // .no-js on step 2?

    &:not(:target) {
      z-index: 1;
      height: 0;
    }

    &:target {
      .close-btn {
        display: block;
      }
    }

    .close-btn {
      position: absolute;
      top: pem(0);
    }

    .menu-block {
      position: relative;
      padding: 0;
    }

    li {
      position: relative;
      border-top: 1px solid rgba(255,255,255, 0.1);
      padding: 0;

      a {
        font-size: 0.88em;
        padding: pem(12, 14) pem(30, 14);
        &:hover {
        }
      }

      li {
        font-size: 1em;
      }

      &:last-child {
        border-bottom: 1px solid rgba(255,255,255, 0.1);
      }

      &.is-active:after {
        z-index: 50;
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: pem(-0.5);
        margin-top: pem(-10);
        border-top: pem(10) transparent solid;
        border-bottom: pem(10) transparent solid;
        border-right: pem(10) #fff solid;
      }

      &.expanded .close-btn {
        display: none;
      }
    }
  }

  #block-system-main-menu {
    .close-btn {
      position: absolute;
      top: pem(0);
      left: 1em;
    }
  }

  #block-system-user-menu {
    .close-btn {
      position: absolute;
      top: pem(0);
      right: 1em;
    }
  }

  .js-ready {
    #block-system-main-menu, #block-system-user-menu {
      height: 100%;
      width: $nav-off-canvas-width;
      @include box-shadow(inset pem(-24) 0 pem(24) pem(-12) rgba(0,0,0, 0.25));

      .menu-block {
        background: transparent;
      }

      .close-btn {
        display: block;
        @include opacity(0.7);

        &:focus,
        &:hover {
          @include opacity(1);
        }
      }
    }
  }

  .js-ready {
    #block-system-main-menu, #block-system-user-menu {
      left: (0 - $nav-off-canvas-width);
    }
    .l-page {
      left: 0;
    }
  }

  .js-nav {
    .l-page {
      left: $nav-off-canvas-width;
    }
  }

  .csstransforms3d.csstransitions.js-ready {

    #block-system-main-menu, #block-system-user-menu {
      left: 0;
      @include transform(translate3d(-100%,0,0));
      @include backface-visibility(hidden);
    }

    .l-page {
      left: 0 !important;
      @include transform(translate3d(0,0,0));
      @include transition(transform 500ms ease);
      @include backface-visibility(hidden);
    }
  }

  .csstransforms3d.csstransitions.js-nav {

    .l-page {
      @include transform(translate3d($nav-off-canvas-width,0,0) scale3d(1,1,1));
    }
  }

  .csstransforms3d.csstransitions.js-ready {

    #block-system-main-menu, #block-system-user-menu {
      .menu-block {
        @include opacity(0.7);
        @include transition(opacity 300ms 100ms ease, transform 500ms ease);
        @include transform(translate3d($nav-off-canvas-width,0,0) scale3d(0.9,0.9,0.9));
        @include transform-origin(50%, 0%);
      }
    }
  }

  .csstransforms3d.csstransitions.js-nav {
    #block-system-main-menu, #block-system-user-menu {
      .menu-block {
        @include opacity(1);
        @include transform(translate3d(0,0,0));
      }
    }
  }
}

@include breakpoint($medium) {
  #top {
    .nav-btn, .user-btn {
      @include visuallyhidden;
    }
  }

  #block-system-main-menu, #block-system-user-menu {
    .close-btn {
      @include visuallyhidden;
    }

    .block__title {
      @include visuallyhidden;
    }
  }
}