tr:nth-child(even) {
  background: #f1f2f5;
}

table {
  border: 1px solid lighten($gray,30%);
  border-collapse: collapse;
  margin: 0 0 30px 0;
  width: 100%;
  @include breakpoint($large) {
    max-width: 60%;
  }
  th {
    background-color: $lt-gray;
    padding: 0.5em;
    margin: 0.25em;
    a:link, a:visited {
      color: $lt-gray;
    }
  }
  tr {
    margin: 0.25em;
    &.odd {
      background-color: $lt-gray;
      td.active {
        background-color: lighten($lt-gray, 3%);
      }
      .form-item {
        white-space: normal;
      }
    }
    &:nth-child(2n) {
      background-color: $lt-gray;
      td.active {
        background-color: lighten($lt-gray,3%);
      }
    }
    td {
      padding: 1em;
      &:first-child {
        padding-right: 10px;
        width: auto;
      }
    }
  }
}

.sticky-header {
  background-color: $lt-gray;
}

.tabledrag-handle {
  height: 30px;
  width: 26px;
  .handle {
    background-position: 0 0;
    background-size: 100%;
    height: 30px;
    width: 26px;
    margin: 0;
    padding: 0;
  }
}
