.orion {
  .header {
    background-color: $dk-gray;
    color: $white;
    padding-bottom: 175px;
    padding-top: 2em;
    a {
      color: $lt-gray;
    }
    .left-header {
      @include breakpoint(0 $medium) {
        clear: both;
        width: 100%;
      }
      .more-link {
        text-align: left;
        a {
          background-color: transparent;
          display: inline-block;
          font-size: 1.4em;
          padding: 0.4em 1em;
          text-decoration: none;
          &:hover, &:focus {
          }
          &.active {
            color: $dk-gray;
          }
        }
      }
    }
    .right-header {
      padding: 1em;
      @include breakpoint(0 $medium) {
        clear: both;
        padding: 1em 0;
        width: 100%;
      }
      h2 {
        color: $white;
      }
    }
    .pane-title a {
      color: $gray;
    }
    img {
      border: 4px solid $lt-gray;
    }
    .button-link {
      color: $gray;
      &:hover, &:focus {
        background-color: $gray-blue;
        color: $lt-gray-blue;
      }
    }
  }
    .pane-title {
      //text-align: center;
    }
    .button-link {
      border: 2px solid lighten($gray, 15%);
    }
    .button-link:hover {
      background-color: lighten($gray, 15%);
      color: $dk-gray;
    }

  }
  .footer {
    color: $gray;
    .pane-title {
      color: $dk-gray;
      margin-top: 1em;
    }
  }

