.taurus {
  .header {
    background-color: $dk-blue;
    color: $white;
    padding: 2em 0;
    a {
      color: $lt-blue;
    }
    .left-header {
      @include breakpoint(0 $medium) {
        clear: both;
        width: 100%;
      }
      .pane-title {
        color: $lt-blue;
      }
    }
    .pane-title a {
      color: $gray;
    }
    img {
      border: 4px solid $lt-gray;
    }
    .button-link {
      border-color: $blue;
      color: $blue;
      &:hover, &:focus {
        background-color: $blue;
        color: $dk-blue;
      }
      &.active {
        color: $dk-blue;
        background-color: $blue;
        border-color: $blue;
      }
    }
  }
  .preface {
    background-color: $dk-green;
    color: lighten($green, 30%);
    a {
      color: lighten($green, 15%);
    }
    .pane-title {
      //text-align: center;
    }
    .button-link {
      border: 2px solid lighten($green, 15%);
    }
    .button-link:hover {
      background-color: lighten($green, 15%);
      color: $dk-green;
    }

    .triptych {
      background-color: $dk-green;
      color: $lt-gray;
      a {
        color: $gray;
      }
      .button-link {
        border-color: $gray;
        &:hover, &:focus {
          background-color: $gray;
          color: $dk-green;
        }
        &.active {
          color: $dk-green;
          background-color: $gray;
          border-color: $gray;
        }
      }
    }
    .footer {
      .button-link {
        border-color: $gray;
        color: $gray;
        &:hover, &:focus {
          background-color: $gray;
          color: $dk-blue;
        }

        &.active {
          color: $dk-blue;
          background-color: $lt-gray;
          border-color: $lt-gray;
        }
      }
    }
  }
}
