/*******************************************************************************
 * siren.layout.scss
 *
 * Styles for the Siren layout.
 ******************************************************************************/
.l-constrained, .l-region--highlighted, .l-region--footer {
  *zoom: 1; }
  .l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* Header */
.l-header {
  padding-top: 0; }

.l-branding {
  text-align: center;
  width: 100%; }

/* Content Area */
.l-highlighted-wrapper {
  padding: 25px 0; }

.l-region--help {
  margin-bottom: 25px; }

/* Sidebars */
.l-region--sidebar .block {
  padding: 25px 1em;
  margin-bottom: 4px; }

/* Footer */
.l-footer-wrapper {
  padding: 3em 0; }

@media (min-width: 768px) {
  /* Sidebars */
  .l-content {
    width: 66.50246%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }

  .has-no-sidebars .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  .l-region--sidebar {
    width: 33.00493%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; } }
@media (min-width: 1200px) {
  /* Sidebars */
  .l-content {
    width: 66.50246%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }

  .has-no-sidebars .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  .l-region--sidebar {
    width: 33.00493%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; } }
@media (min-width: 1600px) {
  /* Sidebars */
  .l-content {
    width: 66.50246%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }

  .has-no-sidebars .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  .l-region--sidebar {
    width: 33.00493%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; } }
.l-content, .has-no-sidebars .l-content {
  float: none;
  margin: 0 auto; }
