@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-multi($r1,$r2,$r3,$r4) {
  -moz-border-radius: $r1 $r2 $r3 $r4;
  -webkit-border-radius: $r1 $r2 $r3 $r4;
  -o-border-radius: $r1 $r2 $r3 $r4;
  -ms-border-radius: $r1 $r2 $r3 $r4;
  -khtml-border-radius: $r1 $r2 $r3 $r4;
  border-radius: $r1 $r2 $r3 $r4;
}

@mixin linear-gradient($color1, $color2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2));
  background-image: -webkit-linear-gradient(top, $color1, $color2);
  background-image: -moz-linear-gradient(top, $color1, $color2);
  background-image: -o-linear-gradient(top, $color1, $color2);
  background-image: -ms-linear-gradient(top, $color1, $color2);
  background-image: linear-gradient(top, $color1, $color2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$color1}', EndColorStr='#{$color2}');
}

@function pem($px, $base: 16) {
  @return ($px / $base) + em;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

// Hide from both screenreaders and browsers: h5bp.com/u
@mixin hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
