%button {
  border-bottom: solid 3px darken($gray,10%);
  @include border-radius(2px);
  font-size: 0.88em;
  height: 40px;
  padding: 10px 20px;
  a:link, a:visited, a.active-trail, a:hover, a:active {
    text-decoration: none;
  }
  &:hover {
    background-color: lighten($lt-gray,5%);
    border-bottom: solid 3px darken($lt-gray,2%);
  }
}



%constrained-width {
  margin: 0 auto;
  width: 100%;
  @include breakpoint($large) {
    max-width: $large;
  }
}
