$white: #fff;
$lt-gray: #f0f1f4;
$gray: #615f5e;
$dk-gray: #494747;
$lt-gray-blue: #8b96b2;
$gray-blue: #4d5770;

$green: #6ca439;
$dk-green: #36521d;
$lt-blue: #c9ecff;
$blue: #59afe1;
$dk-blue: #356785;

