.l-sponsors-wrapper {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -4.25em;
  height: 4.25em;
  .block {
    position: relative;
    display: block;
    padding: 0 1em;
    margin: -3px auto 0 auto;
    &::before {
      content: ''; /* To generate the box */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    @include breakpoint($mid-small) {
      width: 460px;
      &::before {
        transform: perspective(10px) rotateX(1deg);
      }
    }
    h2 {
      font-family: $font-body;
      font-size: 0.8em;
      letter-spacing: 4px;
      margin-top: 0.25em;
      margin-bottom: 0.75em;
      text-align: center;
      display: inline-block;
      position: relative;
      width: 100%;
      padding-top: 0.5em;
    }
    a {
      float: left;
      max-width: 44%;
      &:first-child {
        margin-right: 10%;
      }
    }
  }
  .block__content {
    padding: 0.1em 1em;
    overflow: auto;
    position: relative;
  }
}

.view-cod-sponsors {
  .views-row {
    float: left;
    margin-left: 1%;
    min-height: 150px;
    padding: 1em;
    width: 100%;
    @include breakpoint($small $mid-small) {
      width: 49%;
      &:nth-child(2n+1) {
        clear: left;
      }
    }
    @include breakpoint($mid-small) {
      width: 24%;
      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }
}

.pane-cod-sponsors-sponsored {
  .views-row {
    float: left;
    margin-left: 0%;
    min-height: 0;
    padding: 1em;
    width: 100%;
  }
}
