.button-link {
  background-color: transparent;
  border: 2px solid $dk-gray;
  color: $dk-gray;
  display: inline-block;
  padding: 0.4em 1em;
    &:hover, &:focus {
      background-color: $dk-gray;
      color: $lt-gray;
      text-decoration: none;
    }
  &.active {
    color:  $lt-gray;
    background-color: $gray;
    border-color: $gray;
  }
}
