.page-node-schedule {
  .title-region {
    color: $lt-gray;
    padding: 4.25em 0px 1em;
    text-align: center;
    z-index: 0;
    h1 {
    }
    a {
      color: $lt-gray;
    }
    .button-link {
      margin-top: 1em;
      &:hover, &.active {
        color: $dk-gray;
      }
    }
    .panel-pane {
      clear: both;
      padding: 0;
    }
  }
  .pane-cod-schedule-menu-pane {
    background-color: $white;
    border: 1px solid $gray;
    color: $dk-gray;
    margin: 1em 0;
    padding: 1em 2em;
    text-align: center;
    a {
      color: $dk-gray;
      margin: 0 0.1em;
      padding: 0.15em 0.3em;
      &:hover {
        color: $gray-blue;
        text-decoration: none;
      }
      &.active {
        background-color: $gray-blue;
        color: $lt-gray;
      }
    }
    ul {
      font-family: $font-display;
      font-size: 2em;
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        display: inline;
        list-style-image: none;
        list-style-type: none;
      }
    }
  }
  .pane-cod-session-tracks-schedule-session-tracks {
    background-color: $white;
    border: 2px solid $gray;
    margin: auto;
    padding: 1em;
    overflow: auto;
    @include breakpoint($medium) {
      padding: 2em 5em;
    }
    ul {
      padding-left: 0;
    }
    li {
      float: left;
      list-style-type: none;
      list-style-image: none;
      margin: 0 1% 1% 0;
      width: 100%;
      @include breakpoint($mid-small $medium) {
        width: 32%;
        &:nth-child(3n+1) {
          clear: left;
        }
      }
      @include breakpoint($medium $large) {
        width: 24%;
        &:nth-child(4n+1) {
          clear: left;
        }
      }
      @include breakpoint($large) {
        width: 15.5%;
        &:nth-child(6n+1) {
          clear: left;
        }
      }
      .views-field a {
        background-color: $gray-blue;
        background-position: center left 1em;
        background-size: 2em 2em;
        border: 6px solid $gray;
        color: $lt-gray;
        display: block;
        font-family: $font-display;
        font-size: 1.25em;
        height: 3.5em;
        line-height: 1;
        padding: 1em 1em 1em 4em;
        text-align: left;
        word-wrap: break-word;
        &:hover, &.clicked {
          background-color: $lt-gray-blue;
          text-decoration: none;
        }
        @include breakpoint($mid-small) {
          background-position: top 20% center;
          height: 7em;
          padding: 4em 1% 0 0;
          text-align: center;
        }
      }
    }
  }
  .view-cod-schedule-content > .view-content {
    h3 {
      background-color: transparent;
      color: $dk-gray;
      font-family: $font-display;
      font-size: 2.4em;
      font-weight: normal;
      text-align: center;
    }
    > .timeslot {
      background-color: $white;
      border: 2px solid $gray;
      margin-bottom: 2em;
      overflow: auto;
      position: relative;
      padding: 2em;
    }
    .timeslot-content {
      width: 100%;
    }
    .gutter-size {
      width: 2%;
    }
    .schedule-item, .session {
      background-color: lighten($lt-gray,3%);
      border: 2px solid $gray;
      margin-bottom: 2%;
      padding: 1em;
      text-align: center;
      width: 100%;
      clear: both;
      float: left;
      position: relative;
    }
    .session {
      clear: none;
      float: none;
      overflow: auto;
      padding: 2em;
      width: 100%;
      @include breakpoint($medium) {
        width: 49%
      }
      @include breakpoint($large) {
        width: 31%
      }
    }
    .views-row.session {
      background-size: cover;
      background-position: right 40px bottom;
    }
    .views-field-name, .views-field-field-speakers, .views-field-ops {
      background-image: none;
      clear: both;
      float: none;
      height: auto;
      line-height: 1.25;
      margin: 0.5em 0;
      padding: 0;
    }
    .views-field-title {
      color: $dk-gray;
      font-family: $font-display;
      font-size: 1.8em;
      font-weight: normal;
      line-height: 1.25;
      a {
        color: $dk-gray;
      }
    }
    .views-field-ops {
      margin: 1em 0 0 0;
      a {
        color: $gray-blue;
      }
    }
  }
}

.view-cod-session-sessions {
  table {
    max-width: none;
    width: 100%;
  }
}
