@import url(//fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,400italic);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

img, video {
  max-width: 100%;
  height: auto; }

.l-main-wrapper .container-inner, .no-panels-layout .l-main-wrapper .administrative, .no-panels-layout .l-main-wrapper .l-content, .panels-layout .page-title, .l-region--footer, .action-links, .l-navigation .l-constrained, .administrative ul, .page-node-sessions-proposed .l-content .preface .view-display-id-track_session_filter, .page-node-sessions-accepted .l-content .preface .view-display-id-track_session_filter, .page-node-sessions-proposed .view-display-id-track_session_summary > .view-content, .page-node-sessions-accepted .view-display-id-track_session_summary > .view-content, .view-display-id-panel_sessions_by_track {
  margin: 0 auto;
  width: 94%; }
  @media (min-width: 1100px) {
    .l-main-wrapper .container-inner, .no-panels-layout .l-main-wrapper .administrative, .no-panels-layout .l-main-wrapper .l-content, .panels-layout .page-title, .l-region--footer, .action-links, .l-navigation .l-constrained, .administrative ul, .page-node-sessions-proposed .l-content .preface .view-display-id-track_session_filter, .page-node-sessions-accepted .l-content .preface .view-display-id-track_session_filter, .page-node-sessions-proposed .view-display-id-track_session_summary > .view-content, .page-node-sessions-accepted .view-display-id-track_session_summary > .view-content, .view-display-id-panel_sessions_by_track {
      max-width: 1100px; } }

body {
  background-color: #f0f1f4;
  background-image: none; }
  body a {
    color: #356785;
    text-decoration: none; }
    body a:hover, body a:active {
      text-decoration: underline; }

.l-main-wrapper .l-constrained {
  min-height: 25em;
  position: relative;
  width: auto; }
  .l-main-wrapper .l-constrained .administrative > .tabs {
    margin: 0 auto;
    max-width: 1100px;
    padding-bottom: 1em; }

.panel-layout {
  margin: 0px;
  max-width: 100%; }

.panel-pane {
  padding: 1em 0; }

.l-header-inner {
  margin: 0 auto;
  position: relative;
  z-index: 5; }

.location-action {
  display: none; }

.l-content {
  margin-bottom: 1em; }

.not-front .l-content {
  background-color: transparent; }

.l-epilogue-wrapper {
  background-color: #c9ecff;
  color: #494747;
  padding-bottom: 1em; }
  .l-epilogue-wrapper .block {
    max-width: 1100px;
    margin: auto; }
  .l-epilogue-wrapper .pane-title {
    margin: 1em 0; }

.l-errata-wrapper {
  background-color: white;
  color: #356785;
  padding-bottom: 1em;
  padding: 0 0.72em 2em 0.72em;
  *zoom: 1; }
  .l-errata-wrapper:before, .l-errata-wrapper:after {
    content: "";
    display: table; }
  .l-errata-wrapper:after {
    clear: both; }
  .l-errata-wrapper .l-region {
    padding: 3em 0px; }
  .l-errata-wrapper .pane-title {
    margin: 1em 0; }

.l-footer-wrapper {
  color: #494747; }
  .l-footer-wrapper a {
    color: #59afe1;
    text-decoration: none; }
    .l-footer-wrapper a:hover, .l-footer-wrapper a.active {
      color: #356785; }

form fieldset {
  border: none;
  border-bottom: 1px solid #615f5e;
  padding: 1.5em 0;
  margin: 2em 0; }

button, input, optgroup, select, textarea {
  border: 1px solid #adacab;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 0.4em 0.6em;
  width: 100%; }
  button.minute, button.hour, button.month, button.day, button.year, button.hasDatepicker, input.minute, input.hour, input.month, input.day, input.year, input.hasDatepicker, optgroup.minute, optgroup.hour, optgroup.month, optgroup.day, optgroup.year, optgroup.hasDatepicker, select.minute, select.hour, select.month, select.day, select.year, select.hasDatepicker, textarea.minute, textarea.hour, textarea.month, textarea.day, textarea.year, textarea.hasDatepicker {
    width: auto; }

input[value="Save"], input[value="Add another item"], input[value="Upload"] {
  background-color: #6ca439; }
  input[value="Save"]:hover, input[value="Add another item"]:hover, input[value="Upload"]:hover {
    background-color: #58862e; }

input[value="Remove"] {
  background-color: #b83326; }
  input[value="Remove"]:hover {
    background-color: #962a1f; }

input[value="Upload"] {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 0.4em 0.75em 0.6em 0.75em; }

.form-file {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -khtml-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.form-submit, #edit-back, #edit-cancel {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #858381;
  color: white;
  margin-right: 0.6em;
  width: auto; }
  .form-submit:hover, #edit-back:hover, #edit-cancel:hover {
    background-color: #615f5e;
    color: white;
    text-decoration: none; }
  .form-submit .active, #edit-back .active, #edit-cancel .active {
    color: white;
    background-color: #6ca439;
    border-color: #6ca439;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px; }

.form-checkbox, .form-radio, .form-file {
  width: auto; }

.filter-guidelines, .filter-wrapper .form-item {
  padding: 1em 0; }

html.js .form-autocomplete,
html.js input.form-autocomplete {
  background: url("../images/throbber.gif") white no-repeat;
  background-position: 98% -62px; }

html.js input.throbbing {
  background-position: 98% 9px; }

menu, ol, ul {
  padding-left: 18px; }

img, media {
  max-width: 100%; }

.l-region--sidebar .block img {
  width: 100%; }

@media (min-width: 0) and (max-width: 770px) {
  .menu-block {
    position: relative;
    margin: 0 auto;
    padding: 1.5em 1.25em;
    max-width: 60em; }

  .close-btn {
    display: block;
    width: 2.625em;
    height: 2.25em;
    padding: 0;
    border: 0;
    outline: none;
    background: url("../images/off-canvas/close-btn.svg") left center no-repeat;
    background-color: #356785;
    background-size: 1.875em 1.875em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    .no-svg .close-btn {
      background-image: url("../images/off-canvas/close-btn.png"); }
    .close-btn:focus, .close-btn:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }

  .nav-btn, .user-btn {
    display: block;
    width: 2.625em;
    height: 2em;
    padding: 0;
    border: 0;
    outline: none;
    background: url("../images/off-canvas/nav-icon.svg") left center no-repeat;
    background-size: 1.875em 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    z-index: 10;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    .no-svg .nav-btn, .no-svg .user-btn {
      background-image: url("../images/off-canvas/nav-icon.png"); }
    .nav-btn:hover, .nav-btn:focus, .user-btn:hover, .user-btn:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }

  .user-btn {
    background: url("../images/off-canvas/user-icon.svg") left center no-repeat; }
    .no-svg .user-btn {
      background: url("../off-canvas/images/user-icon.png") left center no-repeat; }

  .l-page-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%; }

  .l-page {
    position: relative;
    width: 100%; }

  #block-system-main-menu, #block-system-user-menu {
    z-index: 8;
    position: relative;
    overflow: hidden;
    width: 100%; }
    #block-system-main-menu .close-btn, #block-system-user-menu .close-btn {
      display: none; }
    #block-system-main-menu .block__title, #block-system-user-menu .block__title {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px; }
    #block-system-main-menu .menu-block, #block-system-user-menu .menu-block {
      z-index: 2;
      position: relative;
      padding: 0.75em 1.25em; }
    #block-system-main-menu ul, #block-system-user-menu ul {
      *zoom: 1;
      display: block;
      margin: 0; }
      #block-system-main-menu ul:before, #block-system-main-menu ul:after, #block-system-user-menu ul:before, #block-system-user-menu ul:after {
        content: "";
        display: table; }
      #block-system-main-menu ul:after, #block-system-user-menu ul:after {
        clear: both; }
    #block-system-main-menu li, #block-system-user-menu li {
      display: block; }
      #block-system-main-menu li a:link, #block-system-main-menu li a:visited, #block-system-user-menu li a:link, #block-system-user-menu li a:visited {
        display: block;
        color: white;
        font-size: 0.875em;
        line-height: 1.28571em;
        font-weight: bold;
        outline: none; }
        #block-system-main-menu li a:link:hover, #block-system-main-menu li a:visited:hover, #block-system-user-menu li a:link:hover, #block-system-user-menu li a:visited:hover {
          color: #c9ecff; }

  #top {
    z-index: 100;
    position: relative; }
    #top .block__title {
      margin: 0;
      font-size: 1.875em;
      line-height: 1.2em;
      text-align: center;
      white-space: nowrap; }
    #top .nav-btn {
      position: absolute;
      top: 0.2em;
      left: 1em; }
    #top .user-btn {
      position: absolute;
      top: 0.2em;
      right: 1em; }

  #block-system-main-menu, #block-system-user-menu {
    background-color: #356785;
    font-family: "Source Serif Pro", serif;
    position: absolute;
    padding-top: 2.7em;
    top: 0;
    left: 0;
    z-index: 200; }
    #block-system-main-menu:not(:target), #block-system-user-menu:not(:target) {
      z-index: 1;
      height: 0; }
    #block-system-main-menu:target .close-btn, #block-system-user-menu:target .close-btn {
      display: block; }
    #block-system-main-menu .close-btn, #block-system-user-menu .close-btn {
      position: absolute;
      top: 0em; }
    #block-system-main-menu .menu-block, #block-system-user-menu .menu-block {
      position: relative;
      padding: 0; }
    #block-system-main-menu li, #block-system-user-menu li {
      position: relative;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 0; }
      #block-system-main-menu li a, #block-system-user-menu li a {
        font-size: 0.88em;
        padding: 0.85714em 2.14286em; }
        #block-system-main-menu li a:hover, #block-system-user-menu li a:hover {
          color: #36521d; }
      #block-system-main-menu li li, #block-system-user-menu li li {
        background-color: #4483a9;
        font-size: 1em; }
      #block-system-main-menu li:last-child, #block-system-user-menu li:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #block-system-main-menu li.is-active:after, #block-system-user-menu li.is-active:after {
        z-index: 50;
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: -0.03125em;
        margin-top: -0.625em;
        border-top: 0.625em transparent solid;
        border-bottom: 0.625em transparent solid;
        border-right: 0.625em white solid; }
      #block-system-main-menu li.expanded .close-btn, #block-system-user-menu li.expanded .close-btn {
        display: none; }

  #block-system-main-menu .close-btn {
    position: absolute;
    top: 0em;
    left: 1em; }

  #block-system-user-menu .close-btn {
    position: absolute;
    top: 0em;
    right: 1em; }

  .js-ready #block-system-main-menu, .js-ready #block-system-user-menu {
    height: 100%;
    width: 70%;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25); }
    .js-ready #block-system-main-menu .menu-block, .js-ready #block-system-user-menu .menu-block {
      background: transparent; }
    .js-ready #block-system-main-menu .close-btn, .js-ready #block-system-user-menu .close-btn {
      display: block;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7; }
      .js-ready #block-system-main-menu .close-btn:focus, .js-ready #block-system-main-menu .close-btn:hover, .js-ready #block-system-user-menu .close-btn:focus, .js-ready #block-system-user-menu .close-btn:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }

  .js-ready #block-system-main-menu, .js-ready #block-system-user-menu {
    left: -70%; }
  .js-ready .l-page {
    left: 0; }

  .js-nav .l-page {
    left: 70%; }

  .csstransforms3d.csstransitions.js-ready #block-system-main-menu, .csstransforms3d.csstransitions.js-ready #block-system-user-menu {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  .csstransforms3d.csstransitions.js-ready .l-page {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }

  .csstransforms3d.csstransitions.js-nav .l-page {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1); }

  .csstransforms3d.csstransitions.js-ready #block-system-main-menu .menu-block, .csstransforms3d.csstransitions.js-ready #block-system-user-menu .menu-block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%; }

  .csstransforms3d.csstransitions.js-nav #block-system-main-menu .menu-block, .csstransforms3d.csstransitions.js-nav #block-system-user-menu .menu-block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@media (min-width: 770px) {
  #top .nav-btn, #top .user-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

  #block-system-main-menu .close-btn, #block-system-user-menu .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  #block-system-main-menu .block__title, #block-system-user-menu .block__title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; } }
tr:nth-child(even) {
  background: #f1f2f5; }

table {
  border: 1px solid #adacab;
  border-collapse: collapse;
  margin: 0 0 30px 0;
  width: 100%; }
  @media (min-width: 1100px) {
    table {
      max-width: 60%; } }
  table th {
    background-color: #f0f1f4;
    padding: 0.5em;
    margin: 0.25em; }
    table th a:link, table th a:visited {
      color: #f0f1f4; }
  table tr {
    margin: 0.25em; }
    table tr.odd {
      background-color: #f0f1f4; }
      table tr.odd td.active {
        background-color: #f9f9fa; }
      table tr.odd .form-item {
        white-space: normal; }
    table tr:nth-child(2n) {
      background-color: #f0f1f4; }
      table tr:nth-child(2n) td.active {
        background-color: #f9f9fa; }
    table tr td {
      padding: 1em; }
      table tr td:first-child {
        padding-right: 10px;
        width: auto; }

.sticky-header {
  background-color: #f0f1f4; }

.tabledrag-handle {
  height: 30px;
  width: 26px; }
  .tabledrag-handle .handle {
    background-position: 0 0;
    background-size: 100%;
    height: 30px;
    width: 26px;
    margin: 0;
    padding: 0; }

body {
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
  line-height: 1.556; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oldenburg", "Georgia", serif;
  font-weight: 300; }

h1 {
  font-size: 2.5em;
  line-height: 1.012; }

h2 {
  font-size: 2em;
  line-height: 1.051; }

h3 {
  font-size: 1.65em;
  line-height: 1.0625; }

h4, h5, h6 {
  font-size: 1.4em;
  line-height: 1.037;
  text-transform: uppercase; }

.videoEmbed {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoEmbed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  @media (min-width: 770px) {
    .videoEmbed iframe {
      left: 10%;
      width: 80%;
      height: 81%; } }

body.cke_editable {
  background-color: white; }

#edit-field-event-tickets {
  background-color: transparent; }
  #edit-field-event-tickets th, #edit-field-event-tickets tr.odd, #edit-field-event-tickets tr.even, #edit-field-event-tickets td {
    background-color: transparent; }

.messages {
  margin: 1em auto;
  width: 94%; }
  @media (min-width: 1100px) {
    .messages {
      max-width: 1100px;
      margin: 0 auto; } }

.page-node-webform .l-content {
  max-width: 1100px; }

.webform-confirmation {
  margin: 1em auto;
  width: 94%; }
  @media (min-width: 1100px) {
    .webform-confirmation {
      max-width: 1100px;
      margin: 0 auto; } }

.links {
  padding: 0.72em 0px;
  margin: auto;
  width: 94%; }
  @media (min-width: 1100px) {
    .links {
      max-width: 1100px; } }

.l-region--errata h3 {
  margin-bottom: 0; }
.l-region--errata .block {
  max-width: 55em;
  margin: auto; }
  .l-region--errata .block img {
    float: left;
    margin-right: 1.5em; }
.l-region--errata .event {
  width: 100%;
  clear: both;
  margin: auto;
  padding: 0.25em; }
  @media (min-width: 770px) {
    .l-region--errata .event {
      padding: 2em;
      width: 70%; } }
  @media (min-width: 920px) {
    .l-region--errata .event {
      clear: none;
      float: left;
      width: 44%;
      margin: 0;
      margin-right: 6%;
      padding: 0; }
      .l-region--errata .event:last-child {
        margin-right: 0; } }

.l-sponsors-wrapper {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -4.25em;
  height: 4.25em; }
  .l-sponsors-wrapper .block {
    position: relative;
    display: block;
    padding: 0 1em;
    margin: -3px auto 0 auto; }
    .l-sponsors-wrapper .block::before {
      content: '';
      /* To generate the box */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #59afe1; }
    @media (min-width: 600px) {
      .l-sponsors-wrapper .block {
        width: 460px; }
        .l-sponsors-wrapper .block::before {
          transform: perspective(10px) rotateX(1deg); } }
    .l-sponsors-wrapper .block h2 {
      color: #c9ecff;
      font-family: "Source Serif Pro", serif;
      font-size: 0.8em;
      letter-spacing: 4px;
      margin-top: 0.25em;
      margin-bottom: 0.75em;
      text-align: center;
      display: inline-block;
      position: relative;
      width: 100%;
      padding-top: 0.5em; }
    .l-sponsors-wrapper .block a {
      float: left;
      max-width: 44%; }
      .l-sponsors-wrapper .block a:first-child {
        margin-right: 10%; }
  .l-sponsors-wrapper .block__content {
    padding: 0.1em 1em;
    overflow: auto;
    position: relative; }

.view-cod-sponsors .views-row {
  float: left;
  margin-left: 1%;
  min-height: 150px;
  padding: 1em;
  width: 100%; }
  @media (min-width: 420px) and (max-width: 600px) {
    .view-cod-sponsors .views-row {
      width: 49%; }
      .view-cod-sponsors .views-row:nth-child(2n+1) {
        clear: left; } }
  @media (min-width: 600px) {
    .view-cod-sponsors .views-row {
      width: 24%; }
      .view-cod-sponsors .views-row:nth-child(4n+1) {
        clear: left; } }

.pane-cod-sponsors-sponsored .views-row {
  float: left;
  margin-left: 0%;
  min-height: 0;
  padding: 1em;
  width: 100%; }

.l-region--footer .block h3 {
  font-size: 1.5em;
  text-align: center; }
.l-region--footer .block img {
  width: 100%; }
.l-region--footer .block p {
  line-height: 1.5em; }

.comment-wrapper {
  margin: 2em 0; }
  .comment-wrapper h3 {
    margin: 0.5em 0; }
    .comment-wrapper h3 a {
      color: #494747; }
  .comment-wrapper .new {
    background-color: #36521d;
    color: white;
    padding: 0 1em; }
  .comment-wrapper .comment {
    background-color: #f9f9fa;
    border: 2px solid #615f5e;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    margin-bottom: 2em;
    padding: 2em;
    text-align: left; }
    .comment-wrapper .comment:before, .comment-wrapper .comment:after {
      content: "";
      display: table; }
    .comment-wrapper .comment:after {
      clear: both; }
    .comment-wrapper .comment footer {
      float: left;
      font-size: 0.8em;
      padding: 1.25em;
      text-align: center;
      width: 100%; }
      @media (min-width: 770px) {
        .comment-wrapper .comment footer {
          width: 20%; } }
    .comment-wrapper .comment .comment-content {
      float: left;
      padding-left: 1em;
      width: 100%; }
      @media (min-width: 770px) {
        .comment-wrapper .comment .comment-content {
          width: 80%; } }
    .comment-wrapper .comment .links {
      width: 100%; }
  .comment-wrapper .comments__form-title {
    background: none;
    font-size: 1.8em;
    margin-top: 4em; }
  .comment-wrapper .user-picture img {
    -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    -o-border-radius: 10em;
    -ms-border-radius: 10em;
    -khtml-border-radius: 10em;
    border-radius: 10em; }
  .comment-wrapper .indented {
    background: url("../images/indented.svg") left 2em top 3em no-repeat;
    background-size: 2em 2em;
    padding-left: 8em;
    margin-left: 0; }
    .no-svg .comment-wrapper .indented {
      background-image: url("../images/indented.png"); }
    @media (min-width: 770px) {
      .comment-wrapper .indented footer {
        width: 24%; }
      .comment-wrapper .indented .comment-content {
        width: 76%; } }
  .comment-wrapper .comment-form {
    margin: auto;
    max-width: 80%;
    text-align: left; }

.page-comment .l-content, .page-comment .has-no-sidebars .l-content {
  margin: 1em auto;
  width: 94%; }
  @media (min-width: 1100px) {
    .page-comment .l-content, .page-comment .has-no-sidebars .l-content {
      max-width: 1100px;
      margin: 0 auto; } }
  .page-comment .l-content h3, .page-comment .has-no-sidebars .l-content h3 {
    margin: 0.5em 0; }
    .page-comment .l-content h3 a, .page-comment .has-no-sidebars .l-content h3 a {
      color: #494747; }
  .page-comment .l-content .page-title, .page-comment .has-no-sidebars .l-content .page-title {
    padding: 0.72em 0; }
  .page-comment .l-content .comment, .page-comment .has-no-sidebars .l-content .comment {
    background-color: #f9f9fa;
    border: 2px solid #615f5e;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    margin-bottom: 2em;
    padding: 2em;
    text-align: left; }
    .page-comment .l-content .comment:before, .page-comment .l-content .comment:after, .page-comment .has-no-sidebars .l-content .comment:before, .page-comment .has-no-sidebars .l-content .comment:after {
      content: "";
      display: table; }
    .page-comment .l-content .comment:after, .page-comment .has-no-sidebars .l-content .comment:after {
      clear: both; }
    .page-comment .l-content .comment footer, .page-comment .has-no-sidebars .l-content .comment footer {
      float: left;
      font-size: 0.8em;
      padding: 1.25em;
      text-align: center;
      width: 100%; }
      @media (min-width: 770px) {
        .page-comment .l-content .comment footer, .page-comment .has-no-sidebars .l-content .comment footer {
          width: 20%; } }
    .page-comment .l-content .comment .comment-content, .page-comment .has-no-sidebars .l-content .comment .comment-content {
      float: left;
      padding-left: 1em;
      width: 100%; }
      @media (min-width: 770px) {
        .page-comment .l-content .comment .comment-content, .page-comment .has-no-sidebars .l-content .comment .comment-content {
          width: 80%; } }
    .page-comment .l-content .comment .links, .page-comment .has-no-sidebars .l-content .comment .links {
      width: 100%; }
  .page-comment .l-content .user-picture img, .page-comment .has-no-sidebars .l-content .user-picture img {
    -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    -o-border-radius: 10em;
    -ms-border-radius: 10em;
    -khtml-border-radius: 10em;
    border-radius: 10em; }

#edit-back, #edit-cancel {
  border: 2px solid #4d5770;
  color: #4d5770;
  margin-left: 0.6em;
  padding: 0.4em 0.6em; }
  #edit-back:hover, #edit-back:focus, #edit-cancel:hover, #edit-cancel:focus {
    background-color: #4d5770;
    color: white;
    text-decoration: none; }
  #edit-back.active, #edit-cancel.active {
    color: white;
    background-color: #f0f1f4;
    border-color: #f0f1f4; }

.page-checkout table.checkout-review {
  border: none;
  margin-top: 1em; }
  .page-checkout table.checkout-review tr:nth-child(2n) {
    background-color: white; }
  .page-checkout table.checkout-review table {
    border: none; }

.button-link, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-sessions-proposed .view-footer a, .page-node-sessions-accepted .view-footer a {
  background-color: transparent;
  border: 2px solid #494747;
  color: #494747;
  display: inline-block;
  padding: 0.4em 1em; }
  .button-link:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .page-node-sessions-proposed .view-footer a:hover, .page-node-sessions-accepted .view-footer a:hover, .button-link:focus, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:focus, .page-node-sessions-proposed .view-footer a:focus, .page-node-sessions-accepted .view-footer a:focus {
    background-color: #494747;
    color: white;
    text-decoration: none; }
  .button-link.active, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a.active, .page-node-sessions-proposed .view-footer a.active, .page-node-sessions-accepted .view-footer a.active {
    color: white;
    background-color: #615f5e;
    border-color: #615f5e; }

.l-region--footer {
  margin: 0 auto;
  max-width: 1100px; }
  .l-region--footer .block {
    margin: 0;
    width: 100%; }
    .l-region--footer .block:nth-child(2) {
      text-align: center; }
    .l-region--footer .block > ul > li {
      margin: 2em 0;
      list-style-image: none;
      list-style-type: none; }
      @media (min-width: 420px) {
        .l-region--footer .block > ul > li {
          width: 49.15254%;
          float: left;
          margin-right: -100%;
          margin-left: 0%;
          clear: none;
          margin-right: 0; } }
      @media (min-width: 1100px) {
        .l-region--footer .block > ul > li {
          width: 23.72881%;
          float: left;
          margin-right: -100%;
          margin-left: 0%;
          clear: none;
          margin-right: 0; } }
      .l-region--footer .block > ul > li > a {
        font-family: "Oldenburg", "Georgia", serif;
        font-size: 2em;
        color: #615f5e; }
      .l-region--footer .block > ul > li.last li a {
        display: block;
        float: left;
        text-indent: -9999px;
        margin: 0.5em 2em 0.5em 0;
        height: 25px;
        width: 25px; }
        @media (min-width: 1100px) {
          .l-region--footer .block > ul > li.last li a {
            margin-right: 3em; } }
      .l-region--footer .block > ul > li.last li a[href*="facebook"] {
        background: url("../images/social/facebook.png") transparent center center no-repeat; }
        .l-region--footer .block > ul > li.last li a[href*="facebook"]:hover {
          opacity: 0.7; }
      .l-region--footer .block > ul > li.last li a[href*="flickr"] {
        background: url("../images/social/flickr.png") transparent center center no-repeat; }
        .l-region--footer .block > ul > li.last li a[href*="flickr"]:hover {
          opacity: 0.7; }
      .l-region--footer .block > ul > li.last li a[href*="twitter"] {
        background: url("../images/social/twitter.png") transparent center center no-repeat; }
        .l-region--footer .block > ul > li.last li a[href*="twitter"]:hover {
          opacity: 0.7; }
      .l-region--footer .block > ul > li.last li a[href*="subscribe"] {
        background: url("../images/social/newsletter.png") transparent center center no-repeat; }
        .l-region--footer .block > ul > li.last li a[href*="subscribe"]:hover {
          opacity: 0.7; }
      .l-region--footer .block > ul > li.last li a[href*="rss"] {
        background: url("../images/social/rss.png") transparent center center no-repeat; }
        .l-region--footer .block > ul > li.last li a[href*="rss"]:hover {
          opacity: 0.7; }
    .l-region--footer .block ul {
      margin: 0 0 2em 0;
      padding: 0; }
      .l-region--footer .block ul .leaf {
        list-style-image: none;
        list-style-type: none; }
  .l-region--footer .block__content {
    clear: both; }

.l-region--navigation .menu {
  padding-left: 0; }
  .l-region--navigation .menu a {
    text-decoration: none; }
  .l-region--navigation .menu li {
    display: inline;
    font-size: 0.88em;
    list-style-image: none;
    padding: 8px 12px;
    white-space: nowrap; }
  .l-region--navigation .menu .expanded .menu {
    display: none; }

.mean-container .mean-bar {
  background: #615f5e 20px 11px no-repeat;
  float: left;
  min-height: 40px;
  padding: 6px 0 0 0;
  position: absolute;
  width: 100%;
  z-index: 999999; }

.mean-container .mean-nav {
  background: none repeat scroll 0 0 white;
  float: left;
  margin-top: 40px;
  width: 100%; }
  .mean-container .mean-nav ul li a {
    border-bottom: 1px solid #f0f1f4;
    color: #615f5e;
    display: block;
    float: left;
    margin: 0;
    padding: 1em 5%;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    width: 90%; }
  .mean-container .mean-nav ul li a.mean-expand {
    background: url(../images/expand.gif) transparent center center no-repeat; }
    .mean-container .mean-nav ul li a.mean-expand:hover {
      background: url(../images/expand.gif) transparent center center no-repeat; }
    .mean-container .mean-nav ul li a.mean-expand.mean-clicked {
      background: url(../images/collapse.gif) transparent center center no-repeat; }
  .mean-container .mean-nav ul li li {
    background-color: #f0f1f4; }
    .mean-container .mean-nav ul li li:first-child {
      border-top: 1px solid #d3d6de; }
    .mean-container .mean-nav ul li li a {
      border-bottom: 1px solid #d3d6de;
      padding: 1em 7%;
      width: 86%; }

.mean-nav > ul > li:last-child {
  background-color: #59afe1; }
  .mean-nav > ul > li:last-child a {
    color: white;
    text-align: center; }

.mean-container .l-region--preface .menu {
  display: none; }

.l-region--preface .menu {
  padding-left: 0; }
  .l-region--preface .menu li {
    background-color: #f0f1f4;
    display: inline;
    font-size: 0.84em;
    list-style-image: none;
    list-style: none;
    padding: 10px 12px; }
    .l-region--preface .menu li:hover {
      background-color: #59afe1; }
      .l-region--preface .menu li:hover a:link, .l-region--preface .menu li:hover a:visited {
        color: white; }
    .l-region--preface .menu li a {
      text-decoration: none; }
      .l-region--preface .menu li a:link, .l-region--preface .menu li a:visited {
        color: #615f5e; }

.tabs--primary {
  border-bottom: none;
  margin-bottom: 0; }
  .tabs--primary li {
    float: left;
    margin-right: 0; }
  .tabs--primary a {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    background-color: white; }
    .tabs--primary a:hover {
      background-color: white;
      text-decoration: none; }
  .tabs--primary .active {
    color: #000000; }
  .tabs--primary a.active {
    background-color: white;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0; }

.l-navigation {
  background-color: #c9ecff;
  font-family: "Oldenburg", "Georgia", serif;
  font-size: 1.4em;
  height: 2.45em;
  margin-bottom: 1em; }
  .l-navigation a {
    color: #356785; }
  @media (min-width: 770px) {
    .l-navigation .menu > li {
      display: block;
      float: left;
      position: relative; }
      .l-navigation .menu > li a {
        display: block;
        padding: 0.2em 0 1.4em 0; }
      .l-navigation .menu > li:hover a {
        color: #4e91b8; }
      .l-navigation .menu > li:hover.expanded > .menu-block > .menu, .l-navigation .menu > li:hover.expanded > .menu-block > .menu:hover {
        background-color: #36521d;
        display: block;
        font-family: "Source Serif Pro", serif;
        font-size: 1em;
        position: absolute;
        top: 3em;
        z-index: 6; }
        .l-navigation .menu > li:hover.expanded > .menu-block > .menu:before, .l-navigation .menu > li:hover.expanded > .menu-block > .menu:hover:before {
          border: solid transparent;
          border-bottom-color: #36521d;
          border-width: 12px;
          bottom: 100%;
          left: 20px;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .l-navigation .menu > li:hover.expanded > .menu-block > .menu li, .l-navigation .menu > li:hover.expanded > .menu-block > .menu:hover li {
          border-top: none;
          padding: 0;
          margin-right: 0;
          width: 100%; }
          .l-navigation .menu > li:hover.expanded > .menu-block > .menu li:hover, .l-navigation .menu > li:hover.expanded > .menu-block > .menu:hover li:hover {
            background-color: #356785; }
        .l-navigation .menu > li:hover.expanded > .menu-block > .menu a, .l-navigation .menu > li:hover.expanded > .menu-block > .menu:hover a {
          color: white;
          display: block;
          padding: 0.5em 1em;
          width: 100%; }
      .l-navigation .menu > li.active-trail a {
        color: #c9ecff; }
      .l-navigation .menu > li.first {
        padding-left: 0; }
      .l-navigation .menu > li.last {
        padding-right: 0;
        margin-right: 0; }
    .l-navigation ul {
      margin: 0;
      padding: 0; } }

@media (min-width: 770px) {
  *[id^='block-menu-menu-'] {
    float: left;
    width: 66%; } }

@media (min-width: 770px) {
  #block-system-user-menu {
    float: right;
    width: 34%; } }

.tabs--primary {
  padding-top: 1em; }

.tabs--primary, .tabs--secondary {
  border-bottom: none;
  margin-bottom: 0; }
  .tabs--primary li, .tabs--secondary li {
    float: left;
    margin-right: 8px;
    margin-bottom: 8px; }
  .tabs--primary a, .tabs--secondary a {
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -khtml-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    background-color: transparent;
    border: 2px solid #36521d; }
    .tabs--primary a:hover, .tabs--primary a:focus, .tabs--secondary a:hover, .tabs--secondary a:focus {
      background-color: #36521d;
      color: white;
      text-decoration: none; }
  .tabs--primary a.active, .tabs--secondary a.active {
    color: white;
    background-color: #6ca439;
    border-color: #6ca439;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -khtml-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0; }

.tabs--secondary a {
  border: 2px solid #c9ecff;
  color: #356785; }
  .tabs--secondary a:hover, .tabs--secondary a:focus {
    background-color: #c9ecff;
    color: #356785; }
.tabs--secondary a.active {
  color: #356785;
  background-color: #c9ecff;
  border-color: #c9ecff; }

.page-node-bofs .title-region {
  background-color: #36521d;
  color: #f0f1f4;
  padding: 4.25em 0px 1em;
  text-align: center;
  z-index: 0; }
  .page-node-bofs .title-region h1 {
    font-size: 6em;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0; }
    @media (min-width: 420px) {
      .page-node-bofs .title-region h1 {
        font-size: 7em;
        padding-left: 50px;
        padding-right: 50px; } }
  .page-node-bofs .title-region a {
    color: #f0f1f4; }
  .page-node-bofs .title-region .button-link, .page-node-bofs .title-region .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .title-region a, .page-node-bofs .title-region .page-node-sessions-proposed .view-footer a, .page-node-sessions-proposed .view-footer .page-node-bofs .title-region a, .page-node-bofs .title-region .page-node-sessions-accepted .view-footer a, .page-node-sessions-accepted .view-footer .page-node-bofs .title-region a {
    margin-top: 1em; }
    .page-node-bofs .title-region .button-link:hover, .page-node-bofs .title-region .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .title-region a:hover, .page-node-bofs .title-region .page-node-sessions-proposed .view-footer a:hover, .page-node-sessions-proposed .view-footer .page-node-bofs .title-region a:hover, .page-node-bofs .title-region .page-node-sessions-accepted .view-footer a:hover, .page-node-sessions-accepted .view-footer .page-node-bofs .title-region a:hover, .page-node-bofs .title-region .button-link.active, .page-node-bofs .title-region .view-cod-bof-schedule-timeslots .views-row .attachment a.active, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .title-region a.active, .page-node-bofs .title-region .page-node-sessions-proposed .view-footer a.active, .page-node-sessions-proposed .view-footer .page-node-bofs .title-region a.active, .page-node-bofs .title-region .page-node-sessions-accepted .view-footer a.active, .page-node-sessions-accepted .view-footer .page-node-bofs .title-region a.active {
      color: #36521d; }
  .page-node-bofs .title-region .panel-pane {
    clear: both;
    padding: 0; }
.page-node-bofs .pane-cod-schedule-menu-pane {
  background-color: white;
  border: 1px solid #615f5e;
  color: #356785;
  margin: 1em 0;
  padding: 2em;
  text-align: center; }
  .page-node-bofs .pane-cod-schedule-menu-pane a {
    color: #356785;
    margin: 0 0.1em;
    padding: 0.15em 0.3em; }
    .page-node-bofs .pane-cod-schedule-menu-pane a:hover {
      color: #4d5770;
      text-decoration: none; }
    .page-node-bofs .pane-cod-schedule-menu-pane a.active {
      background-color: #36521d;
      color: #f0f1f4; }
  .page-node-bofs .pane-cod-schedule-menu-pane ul {
    font-family: "Oldenburg", "Georgia", serif;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    text-align: center; }
    .page-node-bofs .pane-cod-schedule-menu-pane ul li {
      display: inline;
      list-style-image: none;
      list-style-type: none; }
.page-node-bofs .view-cod-bof-schedule-timeslots .timeslot {
  background-color: white;
  border: 1px solid #615f5e;
  margin-bottom: 2em;
  padding: 2em; }
  .page-node-bofs .view-cod-bof-schedule-timeslots .timeslot .timeslot-content > .views-row {
    border-bottom: 1px solid #615f5e;
    margin: 2em 0;
    padding: 2em 0; }
.page-node-bofs .view-cod-bof-schedule-timeslots h3 {
  font-size: 2.4em;
  font-weight: normal;
  color: #356785;
  text-align: center; }
.page-node-bofs .view-cod-bof-schedule-timeslots .views-row {
  margin: 2em 0; }
  .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a {
    text-align: center; }
    .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a a:hover {
      color: #f0f1f4; }
.page-node-bofs .view-cod-bof-schedule-timeslots .views-field-name {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center; }

.page-node-community .page-title {
  display: none; }
.page-node-community .l-main .preface {
  padding: 4.25em 0px 4em;
  text-align: center;
  z-index: 0; }
  .page-node-community .l-main .preface a {
    color: #615f5e; }
  .page-node-community .l-main .preface p {
    margin: 1em auto;
    max-width: 60%; }
  .page-node-community .l-main .preface h1 {
    margin-bottom: 0;
    padding: 0; }
  .page-node-community .l-main .preface .panel-pane {
    padding: 0; }
  .page-node-community .l-main .preface form .views-exposed-widget {
    width: 100%; }
    @media (min-width: 600px) {
      .page-node-community .l-main .preface form .views-exposed-widget {
        width: 32%; }
        .page-node-community .l-main .preface form .views-exposed-widget:nth-child(4n+4) {
          clear: left; } }
    .page-node-community .l-main .preface form .views-exposed-widget label, .page-node-community .l-main .preface form .views-exposed-widget .description {
      text-align: left; }
    .page-node-community .l-main .preface form .views-exposed-widget input, .page-node-community .l-main .preface form .views-exposed-widget select {
      width: 100%; }
.page-node-community .l-main .container.content {
  margin-top: 2em; }
.page-node-community .view-drupalcon-attendees .views-row {
  background-color: white;
  border: 1px solid #494747;
  float: left;
  margin: 2% 0 0 2%;
  min-height: 16.5em;
  padding: 1em;
  text-align: center;
  word-wrap: break-word;
  width: 48%; }
  @media (min-width: 600px) {
    .page-node-community .view-drupalcon-attendees .views-row {
      width: 31%; } }
  @media (min-width: 770px) {
    .page-node-community .view-drupalcon-attendees .views-row {
      width: 23%; } }
  @media (min-width: 950px) {
    .page-node-community .view-drupalcon-attendees .views-row {
      width: 18%; }
      .page-node-community .view-drupalcon-attendees .views-row:nth-child(5n+1) {
        clear: left;
        margin-left: 0; } }
  .page-node-community .view-drupalcon-attendees .views-row:hover {
    background-color: white; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-picture img {
    border: 1px solid #615f5e; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-name {
    font-size: 0.9em;
    margin-bottom: 0.5em; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-field-profile-first, .page-node-community .view-drupalcon-attendees .views-row .views-field-field-profile-last {
    font-weight: bold; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-field-profile-job-title {
    font-size: 0.9em;
    margin-top: 0.5em; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-field-profile-org {
    font-size: 0.9em;
    font-style: italic; }
.page-node-community .view-drupalcon-attendees .pager {
  padding-top: 2em; }

.page-node-add table, .page-node-edit table, .page-user-edit table, .page-user table, .page-ticket table, .page-ticket-register table, .page-ticket-registration table, .page-ticket-redeem table, .page-checkout table, .page-node-submission table {
  max-width: 1100px; }
  .page-node-add table th, .page-node-edit table th, .page-user-edit table th, .page-user table th, .page-ticket table th, .page-ticket-register table th, .page-ticket-registration table th, .page-ticket-redeem table th, .page-checkout table th, .page-node-submission table th {
    font-size: 1em;
    font-weight: 300;
    padding: 0.5em;
    margin: 0.25em; }
  .page-node-add table tr, .page-node-edit table tr, .page-user-edit table tr, .page-user table tr, .page-ticket table tr, .page-ticket-register table tr, .page-ticket-registration table tr, .page-ticket-redeem table tr, .page-checkout table tr, .page-node-submission table tr {
    margin: 0.25em; }
    .page-node-add table tr.odd, .page-node-edit table tr.odd, .page-user-edit table tr.odd, .page-user table tr.odd, .page-ticket table tr.odd, .page-ticket-register table tr.odd, .page-ticket-registration table tr.odd, .page-ticket-redeem table tr.odd, .page-checkout table tr.odd, .page-node-submission table tr.odd {
      background-color: white; }
    .page-node-add table tr:nth-child(2n), .page-node-edit table tr:nth-child(2n), .page-user-edit table tr:nth-child(2n), .page-user table tr:nth-child(2n), .page-ticket table tr:nth-child(2n), .page-ticket-register table tr:nth-child(2n), .page-ticket-registration table tr:nth-child(2n), .page-ticket-redeem table tr:nth-child(2n), .page-checkout table tr:nth-child(2n), .page-node-submission table tr:nth-child(2n) {
      background-color: #f0f1f4; }
.page-node-add .l-main-wrapper, .page-node-edit .l-main-wrapper, .page-user-edit .l-main-wrapper, .page-user .l-main-wrapper, .page-ticket .l-main-wrapper, .page-ticket-register .l-main-wrapper, .page-ticket-registration .l-main-wrapper, .page-ticket-redeem .l-main-wrapper, .page-checkout .l-main-wrapper, .page-node-submission .l-main-wrapper {
  padding: 2em 0; }
.page-node-add .l-main, .page-node-edit .l-main, .page-user-edit .l-main, .page-user .l-main, .page-ticket .l-main, .page-ticket-register .l-main, .page-ticket-registration .l-main, .page-ticket-redeem .l-main, .page-checkout .l-main, .page-node-submission .l-main {
  background-color: white;
  padding: 0.5em; }
  @media (min-width: 770px) {
    .page-node-add .l-main, .page-node-edit .l-main, .page-user-edit .l-main, .page-user .l-main, .page-ticket .l-main, .page-ticket-register .l-main, .page-ticket-registration .l-main, .page-ticket-redeem .l-main, .page-checkout .l-main, .page-node-submission .l-main {
      padding: 2em; } }
  .page-node-add .l-main .page-title, .page-node-edit .l-main .page-title, .page-user-edit .l-main .page-title, .page-user .l-main .page-title, .page-ticket .l-main .page-title, .page-ticket-register .l-main .page-title, .page-ticket-registration .l-main .page-title, .page-ticket-redeem .l-main .page-title, .page-checkout .l-main .page-title, .page-node-submission .l-main .page-title {
    padding-left: 0; }
.page-node-add .fieldset-legend, .page-node-edit .fieldset-legend, .page-user-edit .fieldset-legend, .page-user .fieldset-legend, .page-ticket .fieldset-legend, .page-ticket-register .fieldset-legend, .page-ticket-registration .fieldset-legend, .page-ticket-redeem .fieldset-legend, .page-checkout .fieldset-legend, .page-node-submission .fieldset-legend {
  font-weight: bold; }
.page-node-add #edit-title, .page-node-edit #edit-title, .page-user-edit #edit-title, .page-user #edit-title, .page-ticket #edit-title, .page-ticket-register #edit-title, .page-ticket-registration #edit-title, .page-ticket-redeem #edit-title, .page-checkout #edit-title, .page-node-submission #edit-title {
  width: 100%; }
.page-node-add .field-multiple-drag, .page-node-edit .field-multiple-drag, .page-user-edit .field-multiple-drag, .page-user .field-multiple-drag, .page-ticket .field-multiple-drag, .page-ticket-register .field-multiple-drag, .page-ticket-registration .field-multiple-drag, .page-ticket-redeem .field-multiple-drag, .page-checkout .field-multiple-drag, .page-node-submission .field-multiple-drag {
  width: 10%; }
.page-node-add .form-autocomplete, .page-node-add .form-text, .page-node-edit .form-autocomplete, .page-node-edit .form-text, .page-user-edit .form-autocomplete, .page-user-edit .form-text, .page-user .form-autocomplete, .page-user .form-text, .page-ticket .form-autocomplete, .page-ticket .form-text, .page-ticket-register .form-autocomplete, .page-ticket-register .form-text, .page-ticket-registration .form-autocomplete, .page-ticket-registration .form-text, .page-ticket-redeem .form-autocomplete, .page-ticket-redeem .form-text, .page-checkout .form-autocomplete, .page-checkout .form-text, .page-node-submission .form-autocomplete, .page-node-submission .form-text {
  width: 100%; }
.page-node-add .field-add-more-submit, .page-node-edit .field-add-more-submit, .page-user-edit .field-add-more-submit, .page-user .field-add-more-submit, .page-ticket .field-add-more-submit, .page-ticket-register .field-add-more-submit, .page-ticket-registration .field-add-more-submit, .page-ticket-redeem .field-add-more-submit, .page-checkout .field-add-more-submit, .page-node-submission .field-add-more-submit {
  margin-top: 0.5em; }
.page-node-add .file-widget .form-file, .page-node-edit .file-widget .form-file, .page-user-edit .file-widget .form-file, .page-user .file-widget .form-file, .page-ticket .file-widget .form-file, .page-ticket-register .file-widget .form-file, .page-ticket-registration .file-widget .form-file, .page-ticket-redeem .file-widget .form-file, .page-checkout .file-widget .form-file, .page-node-submission .file-widget .form-file {
  width: 75%; }
.page-node-add .file-widget .form-submit, .page-node-add .file-widget #edit-back, .page-node-add .file-widget #edit-cancel, .page-node-edit .file-widget .form-submit, .page-node-edit .file-widget #edit-back, .page-node-edit .file-widget #edit-cancel, .page-user-edit .file-widget .form-submit, .page-user-edit .file-widget #edit-back, .page-user-edit .file-widget #edit-cancel, .page-user .file-widget .form-submit, .page-user .file-widget #edit-back, .page-user .file-widget #edit-cancel, .page-ticket .file-widget .form-submit, .page-ticket .file-widget #edit-back, .page-ticket .file-widget #edit-cancel, .page-ticket-register .file-widget .form-submit, .page-ticket-register .file-widget #edit-back, .page-ticket-register .file-widget #edit-cancel, .page-ticket-registration .file-widget .form-submit, .page-ticket-registration .file-widget #edit-back, .page-ticket-registration .file-widget #edit-cancel, .page-ticket-redeem .file-widget .form-submit, .page-ticket-redeem .file-widget #edit-back, .page-ticket-redeem .file-widget #edit-cancel, .page-checkout .file-widget .form-submit, .page-checkout .file-widget #edit-back, .page-checkout .file-widget #edit-cancel, .page-node-submission .file-widget .form-submit, .page-node-submission .file-widget #edit-back, .page-node-submission .file-widget #edit-cancel {
  margin-right: 0;
  width: 25%; }
.page-node-add div.vertical-tabs, .page-node-edit div.vertical-tabs, .page-user-edit div.vertical-tabs, .page-user div.vertical-tabs, .page-ticket div.vertical-tabs, .page-ticket-register div.vertical-tabs, .page-ticket-registration div.vertical-tabs, .page-ticket-redeem div.vertical-tabs, .page-checkout div.vertical-tabs, .page-node-submission div.vertical-tabs {
  border-color: #b5bac9; }
.page-node-add .vertical-tabs ul.vertical-tabs-list, .page-node-edit .vertical-tabs ul.vertical-tabs-list, .page-user-edit .vertical-tabs ul.vertical-tabs-list, .page-user .vertical-tabs ul.vertical-tabs-list, .page-ticket .vertical-tabs ul.vertical-tabs-list, .page-ticket-register .vertical-tabs ul.vertical-tabs-list, .page-ticket-registration .vertical-tabs ul.vertical-tabs-list, .page-ticket-redeem .vertical-tabs ul.vertical-tabs-list, .page-checkout .vertical-tabs ul.vertical-tabs-list, .page-node-submission .vertical-tabs ul.vertical-tabs-list {
  border-color: #b5bac9; }
  .page-node-add .vertical-tabs ul.vertical-tabs-list li, .page-node-edit .vertical-tabs ul.vertical-tabs-list li, .page-user-edit .vertical-tabs ul.vertical-tabs-list li, .page-user .vertical-tabs ul.vertical-tabs-list li, .page-ticket .vertical-tabs ul.vertical-tabs-list li, .page-ticket-register .vertical-tabs ul.vertical-tabs-list li, .page-ticket-registration .vertical-tabs ul.vertical-tabs-list li, .page-ticket-redeem .vertical-tabs ul.vertical-tabs-list li, .page-checkout .vertical-tabs ul.vertical-tabs-list li, .page-node-submission .vertical-tabs ul.vertical-tabs-list li {
    background-color: #f0f1f4;
    border-color: #b5bac9; }
    .page-node-add .vertical-tabs ul.vertical-tabs-list li.selected, .page-node-edit .vertical-tabs ul.vertical-tabs-list li.selected, .page-user-edit .vertical-tabs ul.vertical-tabs-list li.selected, .page-user .vertical-tabs ul.vertical-tabs-list li.selected, .page-ticket .vertical-tabs ul.vertical-tabs-list li.selected, .page-ticket-register .vertical-tabs ul.vertical-tabs-list li.selected, .page-ticket-registration .vertical-tabs ul.vertical-tabs-list li.selected, .page-ticket-redeem .vertical-tabs ul.vertical-tabs-list li.selected, .page-checkout .vertical-tabs ul.vertical-tabs-list li.selected, .page-node-submission .vertical-tabs ul.vertical-tabs-list li.selected {
      background-color: #f9f9fa; }
.page-node-add .administrative ul, .page-node-edit .administrative ul, .page-user-edit .administrative ul, .page-user .administrative ul, .page-ticket .administrative ul, .page-ticket-register .administrative ul, .page-ticket-registration .administrative ul, .page-ticket-redeem .administrative ul, .page-checkout .administrative ul, .page-node-submission .administrative ul {
  width: auto; }
.page-node-add .messages, .page-node-edit .messages, .page-user-edit .messages, .page-user .messages, .page-ticket .messages, .page-ticket-register .messages, .page-ticket-registration .messages, .page-ticket-redeem .messages, .page-checkout .messages, .page-node-submission .messages {
  width: auto; }

.page-node-news .l-content, .page-news .l-content {
  margin: 1em auto;
  width: 94%; }
  @media (min-width: 1100px) {
    .page-node-news .l-content, .page-news .l-content {
      max-width: 1100px;
      margin: 0 auto; } }
.page-node-news .page-title, .page-news .page-title {
  padding: 0.72em; }
.page-node-news .view-cod-news, .page-news .view-cod-news {
  padding: 2em; }
  .page-node-news .view-cod-news .links, .page-news .view-cod-news .links {
    width: 100%; }
.page-node-news .feed-icon, .page-news .feed-icon {
  padding-bottom: 1em;
  display: block;
  float: left;
  margin-left: 2em; }

.page-node-registration .title-region {
  max-width: none;
  text-align: center; }
@media (min-width: 770px) {
  .page-node-registration .preface .panel-pane {
    float: left;
    width: 48%; }
    .page-node-registration .preface .panel-pane:first-child {
      margin-right: 2%; } }
.page-node-registration .ticket-field-formatter-view-form {
  text-align: center; }
.page-node-registration #edit-submit {
  margin: 1em 0 0 0;
  width: 100%; }
  @media (min-width: 600px) {
    .page-node-registration #edit-submit {
      width: 60%; } }

.pane-node-field-event-tickets {
  overflow: auto; }

.entity-ticket-type {
  text-align: left; }
  .entity-ticket-type h3 {
    float: left;
    font-size: 1.25em;
    margin: 0;
    margin-right: 1em;
    padding: 1.65em 0; }
    @media (min-width: 770px) {
      .entity-ticket-type h3 {
        width: 24%; } }
  .entity-ticket-type .field--name-commerce-price {
    float: left;
    font-size: 1.25em;
    padding: 1.4em 0;
    width: auto; }
  .entity-ticket-type .field--name-ticket-type-description {
    clear: both; }
  .entity-ticket-type .form-item {
    clear: both;
    float: left;
    width: 100%; }
    @media (min-width: 440px) {
      .entity-ticket-type .form-item {
        clear: right;
        float: right;
        width: auto; } }
    .entity-ticket-type .form-item label {
      font-size: 0.9em;
      font-weight: normal;
      padding-bottom: 0.35em; }
    .entity-ticket-type .form-item input {
      border-color: #494747; }
      @media (min-width: 0) and (max-width: 440px) {
        .entity-ticket-type .form-item input {
          width: 100%; } }

.page-ticket .wizard-trail {
  color: #4d5770;
  font-size: 1em;
  text-align: left;
  margin-bottom: 2em; }
.page-ticket .messages {
  width: 100%;
  margin: 0 0 1em 0; }

.page-node-schedule .title-region {
  color: #f0f1f4;
  padding: 4.25em 0px 1em;
  text-align: center;
  z-index: 0; }
  .page-node-schedule .title-region h1 {
    font-size: 6em;
    margin-bottom: 0; }
  .page-node-schedule .title-region a {
    color: #f0f1f4; }
  .page-node-schedule .title-region .button-link, .page-node-schedule .title-region .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .page-node-schedule .title-region a, .page-node-schedule .title-region .page-node-sessions-proposed .view-footer a, .page-node-sessions-proposed .view-footer .page-node-schedule .title-region a, .page-node-schedule .title-region .page-node-sessions-accepted .view-footer a, .page-node-sessions-accepted .view-footer .page-node-schedule .title-region a {
    margin-top: 1em; }
    .page-node-schedule .title-region .button-link:hover, .page-node-schedule .title-region .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .page-node-schedule .title-region a:hover, .page-node-schedule .title-region .page-node-sessions-proposed .view-footer a:hover, .page-node-sessions-proposed .view-footer .page-node-schedule .title-region a:hover, .page-node-schedule .title-region .page-node-sessions-accepted .view-footer a:hover, .page-node-sessions-accepted .view-footer .page-node-schedule .title-region a:hover, .page-node-schedule .title-region .button-link.active, .page-node-schedule .title-region .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a.active, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .page-node-schedule .title-region a.active, .page-node-schedule .title-region .page-node-sessions-proposed .view-footer a.active, .page-node-sessions-proposed .view-footer .page-node-schedule .title-region a.active, .page-node-schedule .title-region .page-node-sessions-accepted .view-footer a.active, .page-node-sessions-accepted .view-footer .page-node-schedule .title-region a.active {
      color: #36521d; }
  .page-node-schedule .title-region .panel-pane {
    clear: both;
    padding: 0; }
.page-node-schedule .pane-cod-schedule-menu-pane {
  background-color: white;
  border: 1px solid #615f5e;
  color: #356785;
  margin: 1em 0;
  padding: 1em 2em;
  text-align: center; }
  .page-node-schedule .pane-cod-schedule-menu-pane a {
    color: #356785;
    margin: 0 0.1em;
    padding: 0.15em 0.3em; }
    .page-node-schedule .pane-cod-schedule-menu-pane a:hover {
      color: #4d5770;
      text-decoration: none; }
    .page-node-schedule .pane-cod-schedule-menu-pane a.active {
      background-color: #36521d;
      color: #f0f1f4; }
  .page-node-schedule .pane-cod-schedule-menu-pane ul {
    font-family: "Oldenburg", "Georgia", serif;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center; }
    .page-node-schedule .pane-cod-schedule-menu-pane ul li {
      display: inline;
      list-style-image: none;
      list-style-type: none; }
.page-node-schedule .pane-cod-session-tracks-schedule-session-tracks {
  background-color: white;
  border: 2px solid #615f5e;
  margin: auto;
  padding: 1em;
  overflow: auto; }
  @media (min-width: 770px) {
    .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks {
      padding: 2em 5em; } }
  .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks ul {
    padding-left: 0; }
  .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li {
    float: left;
    list-style-type: none;
    list-style-image: none;
    margin: 0 1% 1% 0;
    width: 100%; }
    @media (min-width: 600px) and (max-width: 770px) {
      .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li {
        width: 32%; }
        .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li:nth-child(3n+1) {
          clear: left; } }
    @media (min-width: 770px) and (max-width: 1100px) {
      .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li {
        width: 24%; }
        .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li:nth-child(4n+1) {
          clear: left; } }
    @media (min-width: 1100px) {
      .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li {
        width: 15.5%; }
        .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li:nth-child(6n+1) {
          clear: left; } }
    .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li .views-field a {
      background-color: #356785;
      background-position: center left 1em;
      background-size: 2em 2em;
      border: 6px solid #615f5e;
      color: #f0f1f4;
      display: block;
      font-family: "Oldenburg", "Georgia", serif;
      font-size: 1.25em;
      height: 3.5em;
      line-height: 1;
      padding: 1em 1em 1em 4em;
      text-align: left;
      word-wrap: break-word; }
      .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li .views-field a:hover, .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li .views-field a.clicked {
        background-color: #36521d;
        text-decoration: none; }
      @media (min-width: 600px) {
        .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li .views-field a {
          background-position: top 20% center;
          height: 7em;
          padding: 4em 1% 0 0;
          text-align: center; } }
.page-node-schedule .view-cod-schedule-content > .view-content h3 {
  background-color: transparent;
  color: #356785;
  font-family: "Oldenburg", "Georgia", serif;
  font-size: 2.4em;
  font-weight: normal;
  text-align: center; }
.page-node-schedule .view-cod-schedule-content > .view-content .date-display-range {
  color: #36521d; }
.page-node-schedule .view-cod-schedule-content > .view-content > .timeslot {
  background-color: white;
  border: 2px solid #615f5e;
  margin-bottom: 2em;
  overflow: auto;
  position: relative;
  padding: 2em; }
.page-node-schedule .view-cod-schedule-content > .view-content .timeslot-content {
  width: 100%; }
.page-node-schedule .view-cod-schedule-content > .view-content .gutter-size {
  width: 2%; }
.page-node-schedule .view-cod-schedule-content > .view-content .schedule-item, .page-node-schedule .view-cod-schedule-content > .view-content .session {
  background-color: #f9f9fa;
  border: 2px solid #615f5e;
  margin-bottom: 2%;
  padding: 1em;
  text-align: center;
  width: 100%;
  clear: both;
  float: left;
  position: relative; }
.page-node-schedule .view-cod-schedule-content > .view-content .session {
  clear: none;
  float: none;
  overflow: auto;
  padding: 2em;
  width: 100%; }
  @media (min-width: 770px) {
    .page-node-schedule .view-cod-schedule-content > .view-content .session {
      width: 49%; } }
  @media (min-width: 1100px) {
    .page-node-schedule .view-cod-schedule-content > .view-content .session {
      width: 31%; } }
.page-node-schedule .view-cod-schedule-content > .view-content .views-row.session {
  background-size: cover;
  background-position: right 40px bottom; }
.page-node-schedule .view-cod-schedule-content > .view-content .views-field-name, .page-node-schedule .view-cod-schedule-content > .view-content .views-field-field-speakers, .page-node-schedule .view-cod-schedule-content > .view-content .views-field-ops {
  background-image: none;
  clear: both;
  float: none;
  height: auto;
  line-height: 1.25;
  margin: 0.5em 0;
  padding: 0; }
.page-node-schedule .view-cod-schedule-content > .view-content .views-field-title {
  color: #356785;
  font-family: "Oldenburg", "Georgia", serif;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.25; }
  .page-node-schedule .view-cod-schedule-content > .view-content .views-field-title a {
    color: #356785; }
.page-node-schedule .view-cod-schedule-content > .view-content .views-field-ops {
  margin: 1em 0 0 0; }
  .page-node-schedule .view-cod-schedule-content > .view-content .views-field-ops a {
    color: #4d5770; }

.view-cod-session-sessions table {
  max-width: none;
  width: 100%; }

.page-node-sessions-proposed .l-content .preface, .page-node-sessions-accepted .l-content .preface {
  padding: 4.25em 0px 4em;
  text-align: center; }
  .page-node-sessions-proposed .l-content .preface .button-link, .page-node-sessions-proposed .l-content .preface .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .page-node-sessions-proposed .l-content .preface a, .page-node-sessions-proposed .l-content .preface .view-footer a, .page-node-sessions-proposed .view-footer .l-content .preface a, .page-node-sessions-accepted .view-footer .page-node-sessions-proposed .l-content .preface a, .page-node-sessions-accepted .l-content .preface .button-link, .page-node-sessions-accepted .l-content .preface .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .page-node-sessions-accepted .l-content .preface a, .page-node-sessions-proposed .view-footer .page-node-sessions-accepted .l-content .preface a, .page-node-sessions-accepted .l-content .preface .view-footer a, .page-node-sessions-accepted .view-footer .l-content .preface a {
    margin-top: 1em; }
  .page-node-sessions-proposed .l-content .preface .panel-pane, .page-node-sessions-accepted .l-content .preface .panel-pane {
    clear: both;
    padding: 0; }
  .page-node-sessions-proposed .l-content .preface .view-display-id-track_session_filter ul, .page-node-sessions-accepted .l-content .preface .view-display-id-track_session_filter ul {
    padding-left: 0; }
  .page-node-sessions-proposed .l-content .preface .view-display-id-track_session_filter li.views-row, .page-node-sessions-accepted .l-content .preface .view-display-id-track_session_filter li.views-row {
    float: left;
    list-style-type: none;
    list-style-image: none;
    margin: 0 1% 1% 0;
    width: 100%; }
    .page-node-sessions-proposed .l-content .preface .view-display-id-track_session_filter li.views-row a, .page-node-sessions-accepted .l-content .preface .view-display-id-track_session_filter li.views-row a {
      font-size: 1.25em;
      line-height: 1;
      text-align: center; }
.page-node-sessions-proposed .page-title, .page-node-sessions-accepted .page-title {
  display: none; }
.page-node-sessions-proposed .views-exposed-form, .page-node-sessions-accepted .views-exposed-form {
  max-width: 520px;
  margin: auto;
  text-align: center; }
  .page-node-sessions-proposed .views-exposed-form select, .page-node-sessions-proposed .views-exposed-form input, .page-node-sessions-accepted .views-exposed-form select, .page-node-sessions-accepted .views-exposed-form input {
    width: 100%; }
  .page-node-sessions-proposed .views-exposed-form .views-exposed-widget, .page-node-sessions-accepted .views-exposed-form .views-exposed-widget {
    width: 48%; }
.page-node-sessions-proposed .view-display-id-track_session_summary, .page-node-sessions-accepted .view-display-id-track_session_summary {
  padding-top: 4em; }
  .page-node-sessions-proposed .view-display-id-track_session_summary > .view-content, .page-node-sessions-accepted .view-display-id-track_session_summary > .view-content {
    margin: auto; }
    .page-node-sessions-proposed .view-display-id-track_session_summary > .view-content > .views-row, .page-node-sessions-accepted .view-display-id-track_session_summary > .view-content > .views-row {
      margin-bottom: 4.5em;
      padding: 2em; }
      .page-node-sessions-proposed .view-display-id-track_session_summary > .view-content > .views-row .view-id-cod_session_sessions .views-row, .page-node-sessions-accepted .view-display-id-track_session_summary > .view-content > .views-row .view-id-cod_session_sessions .views-row {
        border: 2px solid #615f5e;
        float: left;
        margin: 0 0 1% 1%;
        padding: 1em;
        text-align: center;
        width: 100%; }
        .page-node-sessions-proposed .view-display-id-track_session_summary > .view-content > .views-row .view-id-cod_session_sessions .views-row h3, .page-node-sessions-accepted .view-display-id-track_session_summary > .view-content > .views-row .view-id-cod_session_sessions .views-row h3 {
          color: #356785; }
          .page-node-sessions-proposed .view-display-id-track_session_summary > .view-content > .views-row .view-id-cod_session_sessions .views-row h3 a, .page-node-sessions-accepted .view-display-id-track_session_summary > .view-content > .views-row .view-id-cod_session_sessions .views-row h3 a {
            color: #356785; }
  .page-node-sessions-proposed .view-display-id-track_session_summary h2, .page-node-sessions-accepted .view-display-id-track_session_summary h2 {
    color: #356785;
    margin-top: 0.5em;
    text-align: center; }
    .page-node-sessions-proposed .view-display-id-track_session_summary h2 a, .page-node-sessions-accepted .view-display-id-track_session_summary h2 a {
      color: #356785; }
.page-node-sessions-proposed .view-footer, .page-node-sessions-accepted .view-footer {
  clear: both;
  text-align: center;
  padding-top: 1em; }

.view-display-id-panel_sessions_by_track {
  margin: auto; }
  .view-display-id-panel_sessions_by_track > .view-content {
    margin-bottom: 4.5em;
    padding: 2em;
    *zoom: 1; }
    .view-display-id-panel_sessions_by_track > .view-content:before, .view-display-id-panel_sessions_by_track > .view-content:after {
      content: "";
      display: table; }
    .view-display-id-panel_sessions_by_track > .view-content:after {
      clear: both; }
    .view-display-id-panel_sessions_by_track > .view-content .views-row {
      float: left;
      margin: 1em 0 1% 1%;
      padding: 1em;
      text-align: center;
      width: 100%; }
      @media (min-width: 600px) and (max-width: 770px) {
        .view-display-id-panel_sessions_by_track > .view-content .views-row {
          width: 49%; }
          .view-display-id-panel_sessions_by_track > .view-content .views-row:nth-of-type(2n+1) {
            clear: left;
            margin-left: 0; } }
      @media (min-width: 770px) and (max-width: 1100px) {
        .view-display-id-panel_sessions_by_track > .view-content .views-row {
          width: 32%; }
          .view-display-id-panel_sessions_by_track > .view-content .views-row:nth-of-type(3n+1) {
            clear: left;
            margin-left: 0; } }
      @media (min-width: 1100px) {
        .view-display-id-panel_sessions_by_track > .view-content .views-row {
          width: 24%; }
          .view-display-id-panel_sessions_by_track > .view-content .views-row:nth-of-type(4n+1) {
            clear: left;
            margin-left: 0; } }
      .view-display-id-panel_sessions_by_track > .view-content .views-row h3 {
        color: #356785; }
        .view-display-id-panel_sessions_by_track > .view-content .views-row h3 a {
          color: #356785; }

.page-node-sponsors .l-main-wrapper h2 {
  text-align: center;
  margin: 0;
  padding: 0.83em 0; }
.page-node-sponsors .level-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2em 0; }

.page-node-13 #tracks {
  padding-left: 0;
  text-align: center; }
  .page-node-13 #tracks li {
    display: inline-table;
    list-style-type: none;
    list-style-image: none;
    margin: 0 1% 1% 0; }
    @media (min-width: 0) and (max-width: 600px) {
      .page-node-13 #tracks li {
        width: 40%; }
        .page-node-13 #tracks li:nth-child(2n+1) {
          clear: left; } }
    @media (min-width: 600px) and (max-width: 770px) {
      .page-node-13 #tracks li {
        width: 20%; }
        .page-node-13 #tracks li:nth-child(3n+1) {
          clear: left; } }
    @media (min-width: 770px) {
      .page-node-13 #tracks li {
        width: 15%; }
        .page-node-13 #tracks li:nth-child(6n+1) {
          clear: left; } }
    .page-node-13 #tracks li a {
      color: #356785;
      display: block;
      font-size: 1em;
      line-height: 1;
      padding: 1em;
      text-align: center;
      -moz-border-radius: 3.5em;
      -webkit-border-radius: 3.5em;
      -o-border-radius: 3.5em;
      -ms-border-radius: 3.5em;
      -khtml-border-radius: 3.5em;
      border-radius: 3.5em; }
      .page-node-13 #tracks li a:hover, .page-node-13 #tracks li a.clicked {
        color: #36521d;
        text-decoration: none; }
      .page-node-13 #tracks li a:before {
        content: "";
        display: block;
        background-color: #356785;
        height: 5em;
        width: 5em;
        margin: 1em auto;
        -moz-border-radius: 5em;
        -webkit-border-radius: 5em;
        -o-border-radius: 5em;
        -ms-border-radius: 5em;
        -khtml-border-radius: 5em;
        border-radius: 5em; }
      @media (min-width: 600px) {
        .page-node-13 #tracks li a {
          background-position: top 20% center;
          padding: 0 0.25em; } }
.page-node-13 .track-content div {
  background-color: #f9f9fa;
  border: 2px solid #615f5e;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 4.5em;
  padding: 2em; }
  .page-node-13 .track-content div:first-child {
    margin-top: 5em; }
  .page-node-13 .track-content div:before {
    content: "";
    display: block;
    background-color: #356785 !important;
    height: 5em;
    width: 5em;
    margin: -4.5em auto 0 auto;
    -moz-border-radius: 5em;
    -webkit-border-radius: 5em;
    -o-border-radius: 5em;
    -ms-border-radius: 5em;
    -khtml-border-radius: 5em;
    border-radius: 5em; }

.page-node-training .l-content .title-region {
  color: #f0f1f4;
  max-width: none;
  padding: 7.25em 0px 4em;
  margin-top: -4.25em;
  text-align: center;
  z-index: -1; }
  .page-node-training .l-content .title-region h1.page-title {
    font-size: 4em;
    padding: 0; }
    .page-node-training .l-content .title-region h1.page-title a {
      color: #615f5e; }
.page-node-training .l-content .pane-drupalcon-trainings-panel-pane-2 h2 {
  display: inline-block;
  margin: 1em 0;
  padding-left: 50px;
  padding-right: 50px; }
.page-node-training .l-content .view-content {
  text-align: center; }
  .page-node-training .l-content .view-content > h3 {
    display: inline-block;
    margin: 1em 0;
    padding-left: 50px;
    padding-right: 50px; }
  .page-node-training .l-content .view-content .views-row {
    background-color: white;
    border: 1px solid #494747;
    overflow: auto;
    margin-bottom: 1em;
    padding: 2em;
    text-align: left; }
    .page-node-training .l-content .view-content .views-row h3 {
      margin-top: 0; }

.node-type-session .l-content h1, .node-type-schedule-item .l-content h1, .node-type-bof .l-content h1 {
  margin: 0; }
.node-type-session .l-content .l-main-wrapper, .node-type-schedule-item .l-content .l-main-wrapper, .node-type-bof .l-content .l-main-wrapper {
  padding: 2em 0; }
.node-type-session .l-content .content, .node-type-schedule-item .l-content .content, .node-type-bof .l-content .content {
  background-color: #f9f9fa;
  border: 2px solid #615f5e;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  float: none;
  margin: auto;
  margin-top: 5em;
  padding: 0.5em;
  width: 94%; }
  @media (min-width: 770px) {
    .node-type-session .l-content .content, .node-type-schedule-item .l-content .content, .node-type-bof .l-content .content {
      padding: 2em; } }
  .node-type-session .l-content .content .page-title, .node-type-schedule-item .l-content .content .page-title, .node-type-bof .l-content .content .page-title {
    padding-left: 0; }
  @media (min-width: 1100px) {
    .node-type-session .l-content .content, .node-type-schedule-item .l-content .content, .node-type-bof .l-content .content {
      max-width: 1100px; } }
.node-type-session .l-content .pane-node-field-speakers, .node-type-schedule-item .l-content .pane-node-field-speakers, .node-type-bof .l-content .pane-node-field-speakers {
  color: #36521d; }
.node-type-session .l-content .hydra .top-right-content .panel-pane, .node-type-session .l-content .hydra .bottom-right-content .panel-pane, .node-type-schedule-item .l-content .hydra .top-right-content .panel-pane, .node-type-schedule-item .l-content .hydra .bottom-right-content .panel-pane, .node-type-bof .l-content .hydra .top-right-content .panel-pane, .node-type-bof .l-content .hydra .bottom-right-content .panel-pane {
  border: 2px solid #615f5e;
  padding: 0.75em;
  margin-bottom: 1em;
  overflow: auto; }
.node-type-session .l-content .hydra .top-right-content .pane-title, .node-type-session .l-content .hydra .bottom-right-content .pane-title, .node-type-schedule-item .l-content .hydra .top-right-content .pane-title, .node-type-schedule-item .l-content .hydra .bottom-right-content .pane-title, .node-type-bof .l-content .hydra .top-right-content .pane-title, .node-type-bof .l-content .hydra .bottom-right-content .pane-title {
  background-color: #356785;
  color: #f0f1f4;
  font-size: 1.5em;
  padding: 0.5em 0.75em;
  margin-bottom: 0.75em; }

/* Schedule */
.view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen {
  background: none; }
  .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li {
    background: #494747;
    border-radius: 6px;
    margin-bottom: 20px; }
    .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active {
      background: #615f5e; }
      .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active a, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active a, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active a {
        background: none;
        color: white;
        padding-bottom: 4px; }
    .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li a, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li a, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li a {
      background: none;
      color: white;
      padding-bottom: 4px; }
.view-cod-session-schedule .views-field-field-slot-datetime-1, .view-cod-session-schedule .views-field-field-evttime-date-1, .view-cod-bof-schedule .views-field-field-slot-datetime-1, .view-cod-bof-schedule .views-field-field-evttime-date-1, .view-cod-schedule .views-field-field-slot-datetime-1, .view-cod-schedule .views-field-field-evttime-date-1 {
  background: #59afe1;
  clear: both;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 6px; }
.view-cod-session-schedule .views-row, .view-cod-bof-schedule .views-row, .view-cod-schedule .views-row {
  border-bottom: 1px solid #CCCCCC;
  clear: both;
  float: left;
  padding-bottom: 20px;
  padding-top: 24px;
  width: 100%; }
  .view-cod-session-schedule .views-row.views-row-last, .view-cod-bof-schedule .views-row.views-row-last, .view-cod-schedule .views-row.views-row-last {
    border-bottom: none; }
.view-cod-session-schedule .views-field-field-experience, .view-cod-bof-schedule .views-field-field-experience, .view-cod-schedule .views-field-field-experience {
  float: right; }
.view-cod-session-schedule .views-field-title, .view-cod-bof-schedule .views-field-title, .view-cod-schedule .views-field-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px; }
  .view-cod-session-schedule .views-field-title a, .view-cod-bof-schedule .views-field-title a, .view-cod-schedule .views-field-title a {
    text-decoration: none; }
.view-cod-session-schedule .views-field-room, .view-cod-session-schedule .views-field-name, .view-cod-session-schedule .views-field-field-speakers, .view-cod-session-schedule .views-field-field-session-track, .view-cod-bof-schedule .views-field-room, .view-cod-bof-schedule .views-field-name, .view-cod-bof-schedule .views-field-field-speakers, .view-cod-bof-schedule .views-field-field-session-track, .view-cod-schedule .views-field-room, .view-cod-schedule .views-field-name, .view-cod-schedule .views-field-field-speakers, .view-cod-schedule .views-field-field-session-track {
  float: left;
  height: 28px;
  margin: 0 20px 10px 0;
  padding-top: 4px;
  padding-left: 30px; }
.view-cod-session-schedule .views-field-room, .view-cod-session-schedule .views-field-name, .view-cod-bof-schedule .views-field-room, .view-cod-bof-schedule .views-field-name, .view-cod-schedule .views-field-room, .view-cod-schedule .views-field-name {
  background: url(../images/location.png) transparent center left no-repeat; }
.view-cod-session-schedule .views-field-field-speakers, .view-cod-bof-schedule .views-field-field-speakers, .view-cod-schedule .views-field-field-speakers {
  background: url(../images/speaker.png) transparent center left no-repeat; }
.view-cod-session-schedule .views-field-field-session-track, .view-cod-bof-schedule .views-field-field-session-track, .view-cod-schedule .views-field-field-session-track {
  background: url(../images/track.png) transparent center left no-repeat; }

.view-cod-sponsors .level {
  clear: both; }
.view-cod-sponsors .sponsor {
  display: inline-block;
  padding: 20px;
  vertical-align: middle; }

.page-ticket-register .profile-details {
  display: none; }
.page-ticket-register .registration-data-toggle {
  font-size: 0.8em;
  margin-bottom: 1.8em;
  background-color: #f0f1f4; }
.page-ticket-register .ticket-register-form > div > fieldset > legend {
  font-size: 1.4em; }
.page-ticket-register select {
  width: 100%; }

.user-profile h2 {
  margin-bottom: 0; }
.user-profile h3 {
  margin-top: 0; }
.user-profile .user-picture {
  float: right; }
  .user-profile .user-picture img {
    border: 1px solid #c4c8d4;
    margin: 0.83em 0 12px 12px; }

.orion .header {
  background-color: #356785;
  color: white;
  padding-bottom: 175px;
  padding-top: 2em; }
  .orion .header a {
    color: #c9ecff; }
  @media (min-width: 0) and (max-width: 770px) {
    .orion .header .left-header {
      clear: both;
      width: 100%; } }
  .orion .header .left-header .pane-title {
    color: #c9ecff; }
  .orion .header .left-header .more-link {
    text-align: left; }
    .orion .header .left-header .more-link a {
      background-color: transparent;
      border: 2px solid #BE2626;
      display: inline-block;
      font-size: 1.4em;
      padding: 0.4em 1em;
      text-decoration: none;
      border-color: #59afe1;
      color: #59afe1; }
      .orion .header .left-header .more-link a:hover, .orion .header .left-header .more-link a:focus {
        background-color: #59afe1;
        color: #356785; }
      .orion .header .left-header .more-link a.active {
        color: #356785;
        background-color: #59afe1;
        border-color: #59afe1; }
  .orion .header .right-header {
    color: #59afe1;
    padding: 1em; }
    @media (min-width: 0) and (max-width: 770px) {
      .orion .header .right-header {
        clear: both;
        padding: 1em 0;
        width: 100%; } }
    .orion .header .right-header h2 {
      color: white; }
  .orion .header .pane-title a {
    color: #615f5e; }
  .orion .header img {
    border: 4px solid #f0f1f4; }
  .orion .header .button-link, .orion .header .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .orion .header a, .orion .header .page-node-sessions-proposed .view-footer a, .page-node-sessions-proposed .view-footer .orion .header a, .orion .header .page-node-sessions-accepted .view-footer a, .page-node-sessions-accepted .view-footer .orion .header a {
    border-color: #59afe1;
    color: #59afe1; }
    .orion .header .button-link:hover, .orion .header .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .orion .header a:hover, .orion .header .page-node-sessions-proposed .view-footer a:hover, .page-node-sessions-proposed .view-footer .orion .header a:hover, .orion .header .page-node-sessions-accepted .view-footer a:hover, .page-node-sessions-accepted .view-footer .orion .header a:hover, .orion .header .button-link:focus, .orion .header .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:focus, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .orion .header a:focus, .orion .header .page-node-sessions-proposed .view-footer a:focus, .page-node-sessions-proposed .view-footer .orion .header a:focus, .orion .header .page-node-sessions-accepted .view-footer a:focus, .page-node-sessions-accepted .view-footer .orion .header a:focus {
      background-color: #59afe1;
      color: #356785; }
    .orion .header .button-link.active, .orion .header .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a.active, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .orion .header a.active, .orion .header .page-node-sessions-proposed .view-footer a.active, .page-node-sessions-proposed .view-footer .orion .header a.active, .orion .header .page-node-sessions-accepted .view-footer a.active, .page-node-sessions-accepted .view-footer .orion .header a.active {
      color: #356785;
      background-color: #59afe1;
      border-color: #59afe1; }
.orion .preface {
  background-color: #36521d;
  color: #b9dc9a; }
  .orion .preface a {
    color: #92c861; }
  .orion .preface .button-link, .orion .preface .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .orion .preface a, .orion .preface .page-node-sessions-proposed .view-footer a, .page-node-sessions-proposed .view-footer .orion .preface a, .orion .preface .page-node-sessions-accepted .view-footer a, .page-node-sessions-accepted .view-footer .orion .preface a {
    border: 2px solid #92c861; }
  .orion .preface .button-link:hover, .orion .preface .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .orion .preface a:hover, .orion .preface .page-node-sessions-proposed .view-footer a:hover, .page-node-sessions-proposed .view-footer .orion .preface a:hover, .orion .preface .page-node-sessions-accepted .view-footer a:hover, .page-node-sessions-accepted .view-footer .orion .preface a:hover {
    background-color: #92c861;
    color: #36521d; }
.orion .footer {
  color: #615f5e; }
  .orion .footer .pane-title {
    color: #494747;
    margin-top: 1em; }

.taurus .header {
  background-color: #356785;
  color: white;
  padding: 2em 0; }
  .taurus .header a {
    color: #c9ecff; }
  @media (min-width: 0) and (max-width: 770px) {
    .taurus .header .left-header {
      clear: both;
      width: 100%; } }
  .taurus .header .left-header .pane-title {
    color: #c9ecff; }
  .taurus .header .pane-title a {
    color: #615f5e; }
  .taurus .header img {
    border: 4px solid #f0f1f4; }
  .taurus .header .button-link, .taurus .header .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .header a, .taurus .header .page-node-sessions-proposed .view-footer a, .page-node-sessions-proposed .view-footer .taurus .header a, .taurus .header .page-node-sessions-accepted .view-footer a, .page-node-sessions-accepted .view-footer .taurus .header a {
    border-color: #59afe1;
    color: #59afe1; }
    .taurus .header .button-link:hover, .taurus .header .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .header a:hover, .taurus .header .page-node-sessions-proposed .view-footer a:hover, .page-node-sessions-proposed .view-footer .taurus .header a:hover, .taurus .header .page-node-sessions-accepted .view-footer a:hover, .page-node-sessions-accepted .view-footer .taurus .header a:hover, .taurus .header .button-link:focus, .taurus .header .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:focus, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .header a:focus, .taurus .header .page-node-sessions-proposed .view-footer a:focus, .page-node-sessions-proposed .view-footer .taurus .header a:focus, .taurus .header .page-node-sessions-accepted .view-footer a:focus, .page-node-sessions-accepted .view-footer .taurus .header a:focus {
      background-color: #59afe1;
      color: #356785; }
    .taurus .header .button-link.active, .taurus .header .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a.active, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .header a.active, .taurus .header .page-node-sessions-proposed .view-footer a.active, .page-node-sessions-proposed .view-footer .taurus .header a.active, .taurus .header .page-node-sessions-accepted .view-footer a.active, .page-node-sessions-accepted .view-footer .taurus .header a.active {
      color: #356785;
      background-color: #59afe1;
      border-color: #59afe1; }
.taurus .preface {
  background-color: #36521d;
  color: #b9dc9a; }
  .taurus .preface a {
    color: #92c861; }
  .taurus .preface .button-link, .taurus .preface .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface a, .taurus .preface .page-node-sessions-proposed .view-footer a, .page-node-sessions-proposed .view-footer .taurus .preface a, .taurus .preface .page-node-sessions-accepted .view-footer a, .page-node-sessions-accepted .view-footer .taurus .preface a {
    border: 2px solid #92c861; }
  .taurus .preface .button-link:hover, .taurus .preface .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface a:hover, .taurus .preface .page-node-sessions-proposed .view-footer a:hover, .page-node-sessions-proposed .view-footer .taurus .preface a:hover, .taurus .preface .page-node-sessions-accepted .view-footer a:hover, .page-node-sessions-accepted .view-footer .taurus .preface a:hover {
    background-color: #92c861;
    color: #36521d; }
  .taurus .preface .triptych {
    background-color: #36521d;
    color: #f0f1f4; }
    .taurus .preface .triptych a {
      color: #615f5e; }
    .taurus .preface .triptych .button-link, .taurus .preface .triptych .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface .triptych a, .taurus .preface .triptych .page-node-sessions-proposed .view-footer a, .page-node-sessions-proposed .view-footer .taurus .preface .triptych a, .taurus .preface .triptych .page-node-sessions-accepted .view-footer a, .page-node-sessions-accepted .view-footer .taurus .preface .triptych a {
      border-color: #615f5e; }
      .taurus .preface .triptych .button-link:hover, .taurus .preface .triptych .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface .triptych a:hover, .taurus .preface .triptych .page-node-sessions-proposed .view-footer a:hover, .page-node-sessions-proposed .view-footer .taurus .preface .triptych a:hover, .taurus .preface .triptych .page-node-sessions-accepted .view-footer a:hover, .page-node-sessions-accepted .view-footer .taurus .preface .triptych a:hover, .taurus .preface .triptych .button-link:focus, .taurus .preface .triptych .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:focus, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface .triptych a:focus, .taurus .preface .triptych .page-node-sessions-proposed .view-footer a:focus, .page-node-sessions-proposed .view-footer .taurus .preface .triptych a:focus, .taurus .preface .triptych .page-node-sessions-accepted .view-footer a:focus, .page-node-sessions-accepted .view-footer .taurus .preface .triptych a:focus {
        background-color: #615f5e;
        color: #36521d; }
      .taurus .preface .triptych .button-link.active, .taurus .preface .triptych .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a.active, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface .triptych a.active, .taurus .preface .triptych .page-node-sessions-proposed .view-footer a.active, .page-node-sessions-proposed .view-footer .taurus .preface .triptych a.active, .taurus .preface .triptych .page-node-sessions-accepted .view-footer a.active, .page-node-sessions-accepted .view-footer .taurus .preface .triptych a.active {
        color: #36521d;
        background-color: #615f5e;
        border-color: #615f5e; }
  .taurus .preface .footer .button-link, .taurus .preface .footer .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface .footer a, .taurus .preface .footer .page-node-sessions-proposed .view-footer a, .page-node-sessions-proposed .view-footer .taurus .preface .footer a, .taurus .preface .footer .page-node-sessions-accepted .view-footer a, .page-node-sessions-accepted .view-footer .taurus .preface .footer a {
    border-color: #615f5e;
    color: #615f5e; }
    .taurus .preface .footer .button-link:hover, .taurus .preface .footer .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface .footer a:hover, .taurus .preface .footer .page-node-sessions-proposed .view-footer a:hover, .page-node-sessions-proposed .view-footer .taurus .preface .footer a:hover, .taurus .preface .footer .page-node-sessions-accepted .view-footer a:hover, .page-node-sessions-accepted .view-footer .taurus .preface .footer a:hover, .taurus .preface .footer .button-link:focus, .taurus .preface .footer .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:focus, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface .footer a:focus, .taurus .preface .footer .page-node-sessions-proposed .view-footer a:focus, .page-node-sessions-proposed .view-footer .taurus .preface .footer a:focus, .taurus .preface .footer .page-node-sessions-accepted .view-footer a:focus, .page-node-sessions-accepted .view-footer .taurus .preface .footer a:focus {
      background-color: #615f5e;
      color: #356785; }
    .taurus .preface .footer .button-link.active, .taurus .preface .footer .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a.active, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .taurus .preface .footer a.active, .taurus .preface .footer .page-node-sessions-proposed .view-footer a.active, .page-node-sessions-proposed .view-footer .taurus .preface .footer a.active, .taurus .preface .footer .page-node-sessions-accepted .view-footer a.active, .page-node-sessions-accepted .view-footer .taurus .preface .footer a.active {
      color: #356785;
      background-color: #f0f1f4;
      border-color: #f0f1f4; }
